{% extends "_templates/_record-form.html" %}

{% set pageHeading = "Confirm placement details" %}

{% set backLink = referrer or ("/record/" + data.record.id) %}
{% set backText = "Back to record" %}

{% set gridColumn = 'govuk-grid-column-full' %}

{% set formAction = "./update" | addReferrer(referrer) %}

{% block formContent %}

  <h1 class="govuk-heading-l">{{pageHeading}}</h1>

  {% set placementCount = record.placement.items | length %}

  {% include "_includes/summary-cards/placements/placement-details.html" %}

  {# Don't show checkbox if there are no placements #}
  {# {% if placementCount > 0 %} #}
    {# {{ govukCheckboxes({
      idPrefix: "placement-section-complete",
      name: "record[placement][status]",
      items: [
        {
          value: "Completed",
          text: "All placements have been added for this trainee",
          checked: checked(record.placement.status, "Completed")
        }
      ]
      }) }} #}
  {# {% endif %} #}


  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Have all placement details been added for the duration of the course?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        value: "Incomplete",
        text: "Not yet, I will finalise them later"
      },
      {
        value: "Complete",
        text: "Yes, all placements for the course have been added"
      }
    ]
  } | decorateAttributes(record, "record.placement.status")) }}

  {{ govukButton({
    text: "Continue"
  }) }}

{% endblock %}

