
{% if data.temp.invalidString %}
  {% set userValue = data.temp.invalidString | replace("**invalid**", "") %}
  {% set insetContent %}

    <h2 class="govuk-heading-m">Answer not recognised</h2>

    <p class="govuk-body">The applicant’s answer – <span class="govuk-!-font-weight-bold">{{userValue}}</span> – is not a recognised value that can be accepted.</p>

    <p class="govuk-body">Ammend their answer to the closest available match.</p>

    {{params.html | safe}}
    
  {% endset %}
  
  {{ govukInsetText({
    html: insetContent,
    classes: 'app-inset-text--invalid-answer app-inset-text--narrow govuk-!-padding-top-0 govuk-!-padding-bottom-0'
  }) }}

{% else %}
  {{params.html | safe}}
{% endif %}



