{# Do we need to collect a specific date? #}
{# {% set assessmentEndDateArray = record.programmeDetails.endDate | toDateArray %} #}

{# {% set assessmentEndDateHtml %}
  {{ govukDateInput({
    id: "assessment-end-date",
    namePrefix: "record[programmeDetails][endDate]",
    fieldset: {
      legend: {
        text: "On what date?",
        classes: "govuk-fieldset__legend--ss"
      }
    },
    hint: {
      text: "For example, " + "" | today | toDateArray | spaceSeparate
    },
    items: [
        {
          name: "day",
          classes: "govuk-input--width-2",
          value: assessmentEndDateArray["0"]
        },
        {
          name: "month",
          classes: "govuk-input--width-2",
          value: assessmentEndDateArray["1"]
        },
        {
          name: "year",
          classes: "govuk-input--width-4",
          value: assessmentEndDateArray["2"]
        }
      ]
  }) }}
{% endset %} #}

{% set customNotPassedReason %}
  {{ govukInput({
    label: {
        text: "Enter the reason for not passing",
        classes: "govuk-label govuk-label--s"
    },
    classes: "govuk-!-width-two-thirds"
  } | decorateAttributes(record, "record.notPassedReasonOther")) }}
{% endset %}

{% set notPassedReasonsItems = []  %}

{% for reason in data.notPassedReasons %}
  {% set notPassedReasonsItems = notPassedReasonsItems | push ({ 
    text: reason
  }) %}
{% endfor %}

{% set notPassedReasonsItems = notPassedReasonsItems | push ({ 
  divider: "or"
}) %}

{% set notPassedReasonsItems = notPassedReasonsItems | push ({ 
  text: "For another reason",
  checked: storeNotPassedReasonOther,
  conditional: {
    html: customNotPassedReason
  }
}) %}

{% set notPassedReasonsItems = notPassedReasonsItems | push ({ 
  text: "Unknown"
}) %}

{{ govukRadios({
  fieldset: {
    legend: {
      text: "Reason for not passing their assessment",
      classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-4",
      isPageHeading: true
    }
  },
  items: notPassedReasonsItems
} | decorateAttributes(record, "record.notPassedReason")) }}

{{ govukButton({
  text: "Continue"
}) }}
