{% set placementCount = record.placement.items | length %}
{% set hasCommencementDate = record.trainingDetails.traineeStarted | falsify %}
{% set needsPlacementDetails = record.placement.status != 'Complete' %}

{% if record | hasOutstandingActions %}

    {{ govukErrorSummary({
      titleText: "You need to provide additional details before recording an outcome",
      classes: "govuk-error-summary--advisory",
      errorList: [
        {
          text: "Confirm training placement details are complete" if placementCount > 0 else "Add placement details",
          href: recordPath + "/placements/confirm" | addReferrer(referrer) if placementCount > 0 else recordPath + "/placements/add" | addReferrer(referrer)
        } if needsPlacementDetails,
        {
          text: "Provide a start date",
          href: recordPath + "/trainee-start-date" | addReferrer(referrer)
        } if not hasCommencementDate
      ]
    }) }}

{% endif %}