{% set filterOptionsHtml %}

    {{ govukCheckboxes({
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          text: "Cycle",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          text: "2020 to 2021 (Current)"
        },
        {
          text: "2019 to 2020"
        }
      ]
    } | decorateAttributes(data, "data.filterCycle"))}}
    
    {{ govukCheckboxes({
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          text: "Status",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          text: "Draft"
        },
        {
          text: "Pending TRN"
        },
        {
          text: "TRN received"
        },
        {
          text: "Pending QTS"
        },
        {
          text: "QTS awarded"
        },
        {
          text: "Deferred"
        },
        {
          text: "Withdrawn"
        }
      ]
    } | decorateAttributes(data, "data.filterStatus"))}}

  {% endset %}

  <div class="moj-filter" tabindex="-1">
    <div class="moj-filter__header">
      <div class="moj-filter__header-title">
        <h2 class="govuk-heading-m">Filter</h2>
      </div>
      <div class="moj-filter__header-action"></div>
    </div>
    <div class="moj-filter__content">
      {% if selectedFilters %}
        <div class="moj-filter__selected">
          <div class="moj-filter__selected-heading">
            <div class="moj-filter__heading-title">
              <h2 class="govuk-heading-m">Selected filters</h2>
            </div>
            <div class="moj-filter__heading-action">
              <p><a class="govuk-link govuk-link--no-visited-state" href="/remove-all-filters">Clear</a></p>
            </div>
          </div>

          {% for category in selectedFilters.categories %}
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ category.heading.text }}</h3>
            <ul class="moj-filter-tags">
              {% for item in category.items %}
                <li><a class="moj-filter__tag" href="{{item.href}}"><span class="govuk-visually-hidden">Remove this filter</span> {{item.text}}</a></li>
              {% endfor %}
            </ul>
          {% endfor %}
        </div>
      {% endif %}
      <div class="moj-filter__options">
        <button class="govuk-button" data-module="govuk-button">
          Apply filters
        </button>
        {{filterOptionsHtml | safe}}
      </div>
    </div>
  </div>
