{# 
Example:

|   Trainee on the provider-led (postgrad) route.

#}

{% set providerText %}
  {# Include a link if using blended model #}
  {% if data.signedInProviders | length > 1 %}
    Training with <a href="{{'./pick-provider' | addReferrer(referrer) }}" class="govuk-link">{{record.provider}}</a>
  {# Don’t link if using hat model - they need to back out and pick a different provider to work as #}
  {% else %}
    Training with {{record.provider}}
  {% endif %}
{% endset %}

{% set routeText %}
  on the <a href="{{ './select-route' | addReferrer(referrer) }}" class="govuk-link">{{ record.route | lower or "route not set" }}</a> route.
{% endset %}

{# Don’t show anything if user doesn't have multiple providers #}
{% if data.settings.userProviders | length > 1  %}
  {% set insetTextHtml %}
    {{providerText | safe}} {{routeText | safe}}
  {% endset %}

{% else %}
  {% set insetTextHtml %}
    Trainee {{routeText | safe}}
  {% endset %}
{% endif %}

{{ govukInsetText({
  html: insetTextHtml
}) }}
