<div class="app-application-card">

    <div class="app-application-card_col">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
        <a href="/record/{{ record.id }}" class="govuk-link govuk-link--no-visited-state">
          {{ record.personalDetails.givenName }} {{ record.personalDetails.familyName }}
        </a>
      </h3>
      <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-bottom-0">DOB: {{record.personalDetails.dateOfBirth | govukDate}}</p>
      <p class="govuk-caption-m govuk-!-font-size-16 app-application-card__id govuk-!-margin-bottom-0">ID: {{record.id}}</p>
    </div>
    <div class="app-application-card_col">
      <p class="govuk-body govuk-!-margin-bottom-0">Assessment only</p>
      <p class="govuk-body govuk-!-margin-bottom-0">{{record.assessmentDetails.subject}}</p>
    </div>
    <div class="app-application-card_col">
      {{govukTag({
        text: record.status
      })}}
      <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-top-2 app-application-card__submitted">Submitted: <span>{{record.submittedDate | govukDate}}</span></p>
    </div>
</div>
