<h1 class="govuk-heading-l">{{pageHeading}}</h1>

{{ appAutocomplete({
  label: {
    text: "Subject",
    classes: "govuk-label--s"
  },
  hint: {
    text: 'Select the closest matching subject'
  },
  id: 'subject',
  autoSelect: false,
  name: "record[courseDetails][subject]",
  items: data.ittSubjects,
  value: record.courseDetails.subject
  }
) }}

{# {% set additionalSubjectHtml %}
  {{ appAutocomplete({
    label: {
      text: "Second subject (optional)",
      classes: "govuk-label--s"
    },
    classes: "govuk-!-margin-bottom-0",
    id: 'subject2',
    autoSelect: false,
    name: "record[courseDetails][secondSubject]",
    items: data.ittSubjects,
    value: record.courseDetails.secondSubject
    }
  ) }}
  
{% endset %}

{{ govukDetails({
  summaryText: "Add a second subject (optional)",
  html: additionalSubjectHtml,
  open: false
}) }} #}

{# These account for 91% of choices #}
{% set commonAgeRanges = [
  "3 to 11 programme",
  "5 to 11 programme",
  "11 to 16 programme",
  "11 to 19 programme"
  ] %}

{# Create radio items for each #}
{% set ageRangeRadioItems = [] %}
{% for ageRange in commonAgeRanges %}
  {% set ageRangeRadioItems = ageRangeRadioItems | push({
    text: ageRange
  }) %}
{% endfor %}

{% set uncommonAgeRanges = data.assessmentOnlyAgeRanges | removeArrayItems(commonAgeRanges) %}

{# Prefil existing answer #}
{% set ageRangeExistingValue = record.courseDetails.ageRange %}
{% if ageRangeExistingValue in commonAgeRanges %}
  {% set ageRangeExistingValue = undefined %}
{% endif %}

{% set ageRangeAutocomplete %}
  {{ appAutocomplete({
    label: {
      text: "Other age range",
      classes: "govuk-label--s"
    },
    id: 'age-range',
    name: "record[courseDetails][ageRangeOther]",
    items: uncommonAgeRanges,
    value: ageRangeExistingValue
    }
  ) }}
{% endset %}
{{ageRangeExistingValue | log}}
{% set ageRangeRadioItems = ageRangeRadioItems | combineArrays(
  [{
    divider: 'or'
  },
  {
    text: "Other age range",
    checked: 'checked' if ageRangeExistingValue,
    conditional: {
      html: ageRangeAutocomplete
    }
  }]
) %}

{{ govukRadios({
  fieldset: {
    legend: {
      text: "Age range",
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: ""
  },
  items: ageRangeRadioItems
} | decorateAttributes(record, "record.courseDetails.ageRange")) }}

{% set programmeStartDateArray = record.courseDetails.startDate | toDateArray %}

{{ govukDateInput({
  id: "programme-start-date",
  namePrefix: "record[courseDetails][startDate]",
  fieldset: {
    legend: {
      text: "Course start date",
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: "For example, " + "" | today | toDateArray | spaceSeparate
  },
  items: [
      {
        name: "day",
        classes: "govuk-input--width-2",
        value: programmeStartDateArray["0"]
      },
      {
        name: "month",
        classes: "govuk-input--width-2",
        value: programmeStartDateArray["1"]
      },
      {
        name: "year",
        classes: "govuk-input--width-4",
        value: programmeStartDateArray["2"]
      }
    ]
}) }}

{% set programmeEndDateArray = record.courseDetails.endDate | toDateArray %}
{{ govukDateInput({
  id: "programme-end-date",
  namePrefix: "record[courseDetails][endDate]",
  fieldset: {
    legend: {
      text: "Course end date",
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: "For example, " + "" | today | moment('add', 1, 'years') | toDateArray | spaceSeparate
  },
  items: [
      {
        name: "day",
        classes: "govuk-input--width-2",
        value: programmeEndDateArray["0"]
      },
      {
        name: "month",
        classes: "govuk-input--width-2",
        value: programmeEndDateArray["1"]
      },
      {
        name: "year",
        classes: "govuk-input--width-4",
        value: programmeEndDateArray["2"]
      }
    ]
}) }}


{{ govukButton({
  text: "Continue"
}) }}






