// Records search

.records-search {
  @include govuk-media-query($from: tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.records-search .govuk-form-group {
  flex-grow: 1;
}

.records-search .govuk-button {
  @include govuk-media-query($from: tablet) {
    align-self: flex-start;
    margin-top: auto;
    margin-left: govuk-spacing(2);
  }
}