// Records actionss bar

.app-records-actions {
  margin: 0 0 govuk-spacing(3) 0;
  border-bottom: 1px solid govuk-colour("mid-grey");
  
  // At this viewport range we want the action (sort and export) and the Show Filter button to diplay in the opposite order than they are in the DOM
  @include govuk-media-query($from: 501px, $until: desktop) {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}


.app-records-actions__col:nth-child(1) {
  
  // At this viewport range we want the Show Filter button and the actions (sort and export) to diplay in the opposite order than they are in the DOM.
  @include govuk-media-query($from: $govuk-page-width) {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  @include govuk-media-query($from: 501px, $until: desktop) {
    text-align: right;
  }
}

.app-records-actions__col:nth-child(2) {
  align-self: flex-end;
  
  .govuk-button {
    margin: 0 0 govuk-spacing(3) 0;
  }
 
  @include govuk-media-query($until: 500px) {
    .govuk-button {
      margin: 0 0 govuk-spacing(4) 0;
    }
  }

  @include govuk-media-query($from: desktop) {
    display: none;
  }
}
