.status-card {
  background-color: govuk-colour("light-grey");
  display: block;
  padding: govuk-spacing(2);
  text-decoration: none;
  @include govuk-font($size: 19);

  @include govuk-media-query($from: desktop) {
    padding: govuk-spacing(4);
  }
}

.status-card--draft {
  color: govuk-shade(govuk-colour("dark-grey", $legacy: "grey-1"), 30);
  background: govuk-tint(govuk-colour("dark-grey", $legacy: "grey-1"), 90);
}

.status-card--pending-trn {
  color: govuk-shade(govuk-colour("turquoise"), 60);
  background: govuk-tint(govuk-colour("turquoise"), 70);
}

.status-card--trn-received {
  color: govuk-shade(govuk-colour("blue"), 30);
  background: govuk-tint(govuk-colour("blue"), 80);
}

.status-card--deferred {
  color: govuk-shade(govuk-colour("yellow"), 65);
  background: govuk-tint(govuk-colour("yellow"), 75);
}

.status-card--withdrawn {
  color: govuk-shade(govuk-colour("red"), 30);
  background: govuk-tint(govuk-colour("red"), 80);
}

.status-card__count {
  @include govuk-font($size: 36, $weight: bold);
  display: block;
}