
{% set expectedDuration = 'Not provided' %}
{% if record.assessmentDetails.duration | falsify %}
  {% set expectedDuration = record.assessmentDetails.duration + " years" %}
{% endif %}

{% set assessmentDetailsRows = [
  {
    key: {
      text: "Subject"
    },
    value: {
    text: record.assessmentDetails.subject or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/assessment-details?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "subject"
        }
      ]
    } if canAmend
  },
  {
    key: {
      text: "Age range"
    },
    value: {
      text: record.assessmentDetails.ageRange or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/assessment-details?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "age range"
        }
      ]
    } if canAmend
  },
  {
    key: {
      text: "Assessment start date"
    },
    value: {
      text: record.assessmentDetails.startDate | govukDate or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/assessment-details?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "assessment start date"
        }
      ]
    } if canAmend
  },
  {
    key: {
      text: "Expected assessment end date"
    },
    value: {
      text: record.assessmentDetails.endDate | govukDate or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/assessment-details?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "assessment end date"
        }
      ]
    } if canAmend
  },
  {
    key: {
      text: "Expected duration"
    },
    value: {
      text: expectedDuration
    },
    actions: {
      items: [
        {
          href: recordPath + "/assessment-details?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "expected duration"
        }
      ]
    } if canAmend
  } if false 
  ] %}



{% set assessmentDetailsHtml %}
  {{ govukSummaryList({
    rows: assessmentDetailsRows
  }) }}
{% endset %}


{{ appSummaryCard({
  classes: "govuk-!-margin-bottom-6",
  titleText: "Contact details",
  html: assessmentDetailsHtml
}) }}

