
{% set expectedDuration = 'Not provided' %}
{% if record.assessmentDetails.duration | falsify %}
  {% set expectedDuration = record.assessmentDetails.duration + " years" %}
{% endif %}

{% set assessmentDetailsRows = [
  {
    key: {
      text: "Subject"
    },
    value: {
    text: record.assessmentDetails.subject or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/assessment-details" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "subject"
        }
      ]
    } if canAmend
  },
  {
    key: {
      text: "Age range"
    },
    value: {
      text: record.assessmentDetails.ageRange or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/assessment-details" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "age range"
        }
      ]
    } if canAmend
  },
  {
    key: {
      text: "Assessment start date"
    },
    value: {
      text: record.assessmentDetails.startDate | govukDate or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/assessment-details" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "assessment start date"
        }
      ]
    } if canAmend
  }
  ] %}

{% set endDateRow = {
    key: {
      text: "Assessment end date"
    },
    value: {
      text: record.assessmentDetails.endDate | govukDate or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/assessment-details" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "assessment end date"
        }
      ]
    } if canAmend
  }  %}

{# End date only collected when submitting for QTS #}
{% if record.assessmentDetails.endDate and (record.status == "Pending QTS" or record.status == "QTS Awarded" )%}
  {% set assessmentDetailsRows = assessmentDetailsRows | push(endDateRow) %}  
{% endif %}

{% set assessmentDetailsHtml %}
  {{ govukSummaryList({
    rows: assessmentDetailsRows
  }) }}
{% endset %}





{% set complete = true if (record.assessmentDetails | sectionIsCompleted ) %}
{% set status  = record.assessmentDetails | getStatusText %}

{% if showIncomplete and not complete %}

  {% set incompleteType = "warning" if errorList %}
  {% set incompleteId = "assessment-details" %}
  {% if status == "In progress" %}
    {% set incompleteText = "Assessment details not marked as complete" %}
    {% set incompleteLink = recordPath + "/assessment-details/confirm" | addReferrer(referrer) %}
    {% set incompleteLinkText = "Continue section" %}
  {% else %}
    {% set incompleteText = "Assessment details not started" %}
    {% set incompleteLink = recordPath + "/assessment-details" | addReferrer(referrer) %}
    {% set incompleteLinkText = "Start section" %}
  {% endif %}

  {% include "_includes/incomplete.njk" %}

{% else %}

  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    titleText: "Assessment Only details",
    html: assessmentDetailsHtml
  }) }}
  
{% endif %}
