{% set recordPath = "" %}

{% if record.id %}
  {% set recordPath = "/record/" + record.id %}
{% else %}
  {% set recordPath = "/new-record" %}
{% endif %}

{% set canAmend = true %}

{% set addressCombined = [] %}

{# {% set addressCombined = record.contactDetails.address | deleteBlankAttributes %} #}
{% set addressCombined = record.contactDetails.address | objectToArray | commaSeparateLines %}

{% set addressCombined = addressCombined or 'Not provided' %}
{{addressCombined | log}}
{# {% for item, value in record.contactDetails.address %}
  {% if value | falsify %}
    {% set addressCombined = addressCombined | push(value) %}
  {% endif %}
{% endfor %} #}

{% set contactDetailsRows = [
  {
    key: {
      text: "Address"
    },
    value: {
      text: addressCombined | safe
    },
    actions: {
      items: [
        {
          href: recordPath + "/contact-details?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "address"
        }
      ]
    }
  },
  {
    key: {
      text: "Phone number"
    },
    value: {
      text: record.contactDetails.phoneNumber or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/contact-details?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "phone number"
        }
      ]
    }
  },
  {
    key: {
      text: "Email address"
    },
    value: {
      text: record.contactDetails.email or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/contact-details?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "email"
        }
      ]
    }
  }
  ] %}



{% set contactDetailsHtml %}
  {{ govukSummaryList({
    rows: contactDetailsRows
  }) }}
{% endset %}


{{ appSummaryCard({
  classes: "govuk-!-margin-bottom-6",
  titleText: "Contact details",
  html: contactDetailsHtml
}) }}

