
{# Merge fields and strip empty #}
{% set addressCombined = record.contactDetails.address | objectToArray | commaSeparateLines %}
{% set addressCombined = addressCombined or 'Not provided' %}


{% set contactDetailsRows = [
  {
    key: {
      text: "Address"
    },
    value: {
      text: addressCombined | safe
    },
    actions: {
      items: [
        {
          href: recordPath + "/contact-details?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "address"
        }
      ]
    } if canAmend
  },
  {
    key: {
      text: "Phone number"
    },
    value: {
      text: record.contactDetails.phoneNumber or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/contact-details?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "phone number"
        }
      ]
    } if canAmend
  },
  {
    key: {
      text: "Email address"
    },
    value: {
      text: record.contactDetails.email or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/contact-details?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "email"
        }
      ]
    } if canAmend
  }
  ] %}



{% set contactDetailsHtml %}
  {{ govukSummaryList({
    rows: contactDetailsRows
  }) }}
{% endset %}


{{ appSummaryCard({
  classes: "govuk-!-margin-bottom-6",
  titleText: "Contact details",
  html: contactDetailsHtml
}) }}

