






{% set complete = true if (record.qualifications.degreeStatus | sectionIsCompleted ) %}
{% set status  = record.qualifications.degreeStatus.status or (record.qualifications.degree | getStatusText) %}

{% if showIncomplete and not complete %}

  {% set incompleteType = "warning" if errorList %}
  {% set incompleteId = "degree-details" %}
  {% if status == "In progress" %}
    {% set incompleteText = "Degree details not marked as complete" %}
    {% set incompleteLink = recordPath + "/degree/confirm" | addReferrer(referrer) %}
  {% else %}
    {% set incompleteText = "Degree details not started" %}
    {% set incompleteLink = recordPath + "/degree/add" | addReferrer(referrer) %}
  {% endif %}

  {% include "_includes/incomplete.njk" %}

{% else %}

  {% for degree in degrees %}
    {% include "_includes/summary-cards/single-degree-details.html" %}

  {% endfor %}
  
{% endif %}
