{% set complete = true if (record.degree | sectionIsCompleted ) %}
{% set status  = record.degree | getStatusText %}

{% set degrees = record.degree.items %}


{% if showIncomplete and not complete %}

  {% set incompleteType = "warning" if errorList %}
  {% set incompleteId = "degree-details" %}
  {% if status == "In progress" %}
    {% set incompleteText = "Degree details not marked as complete" %}
    {% set incompleteLink = recordPath + "/degree/confirm" | addReferrer(referrer) %}
    {% set incompleteLinkText = "Complete section" %}
  {% else %}
    {% set incompleteText = "Degree details not started" %}
    {% set incompleteLink = recordPath + "/degree/add" | addReferrer(referrer) %}
    {% set incompleteLinkText = "Start section" %}
  {% endif %}

  {% include "_includes/incomplete.njk" %}

{% else %}

  {% for degree in degrees %}
    {% include "_includes/summary-cards/single-degree-details.html" %}
  {% endfor %}
  
{% endif %}
