{% set recordPath = "" %}

{% if record.id %}
  {% set recordPath = "/record/" + record.id %}
{% else %}
  {% set recordPath = "/new-record" %}
{% endif %}


{% set diversityInformationDisclosed = (record.diversity.diversityDisclosed | falsify) %}
{% set diversityDisclosedText = 'Information disclosed' if diversityInformationDisclosed else 'Not disclosed' %}

{% set diversityRows = [
  {
    key: {
      text: "Diversity information"
    },
    value: {
      text: diversityDisclosedText
    },
    actions: {
      items: [
        {
          href: recordPath + "/diversity-disclosed?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "diversity disclosed"
        }
      ]
    } if canAmend
  }
  ] %}

{% set ethnicGroup = record.diversity.ethnicGroup %}
{% set ethnicBackground = record.diversity.ethnicBackground %}

{% if ethnicBackground and ethnicGroup != 'Not provided' and ethnicBackground != 'Not provided' %}
  {% set ethnicGroup %}
  {{ethnicGroup}}
  ({{ethnicBackground}})
  {% endset %}
{% endif %}

{% set ethnicGroupRow = {
  key: {
    text: "Ethnic group"
  },
  value: {
    text: ethnicGroup
  },
  actions: {
    items: [
      {
        href: recordPath + "/ethnic-group?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "ethnic group"
      }
    ]
  } if canAmend
} %}

{% if diversityInformationDisclosed and ethnicGroup %}
  {% set diversityRows = diversityRows | push(ethnicGroupRow) %}
{% endif %}



{# {% set ethnicBackgroundRow = {
  key: {
    text: "Ethnic group background"
  },
  value: {
    text: ethnicBackground
  },
  actions: {
    items: [
      {
        href: recordPath + "/ethnic-background?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "ethnic group background"
      }
    ]
  }
} %}

{{ethnicBackground | log}}
{% if diversityInformationDisclosed and ethnicBackground %}
  {% set diversityRows = diversityRows | push(ethnicBackgroundRow) %}
{% endif %} #}

{% set disabilitiesAnswerRow = {
    key: {
      text: "Candidate is disabled"
    },
    value: {
      text: record.diversity.disabledAnswer
    },
    actions: {
      items: [
        {
          href: recordPath + "/disabilities?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "disabilities answer"
        }
      ]
    } if canAmend
  } %}

{% if diversityInformationDisclosed %}
  {% set diversityRows = diversityRows | push(disabilitiesAnswerRow) %}
{% endif %}

{% set disabilitiesRow = {
    key: {
      text: "Disabilities"
    },
    value: {
      text: record.diversity.disabilities | joinify | lower | sentenceCase
    },
    actions: {
      items: [
        {
          href: recordPath + "/candidate-disabilities?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "candidate disabilities"
        }
      ]
    } if canAmend
  } %}
{{record.diversity.disabledAnswer | falsify | log}}
{% if diversityInformationDisclosed and record.diversity.disabledAnswer == "Yes" %}
  {% set diversityRows = diversityRows | push(disabilitiesRow) %}
{% endif %}

{% set diversityHtml %}
  {{ govukSummaryList({
    rows: diversityRows
  }) }}
{% endset %}


{{ appSummaryCard({
  classes: "govuk-!-margin-bottom-6",
  titleText: "Diversity information",
  html: diversityHtml
}) }}

