
{% set diversityInformationDisclosed = (record.diversity.diversityDisclosed | falsify) %}
{% set diversityDisclosedText = 'Information disclosed' if diversityInformationDisclosed else 'Not disclosed' %}

{% set diversityRows = [
  {
    key: {
      text: "Diversity information"
    },
    value: {
      text: diversityDisclosedText
    },
    actions: {
      items: [
        {
          href: recordPath + "/diversity-disclosed" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "diversity disclosed"
        }
      ]
    } if canAmend
  }
  ] %}

{% set ethnicGroup = record.diversity.ethnicGroup %}
{% set ethnicBackground = record.diversity.ethnicBackground %}

{% if ethnicBackground and ethnicGroup != 'Not provided' and ethnicBackground != 'Not provided' %}
  {% set ethnicGroup %}
  {{ethnicGroup}}
  ({{ethnicBackground}})
  {% endset %}
{% endif %}

{% set ethnicGroupRow = {
  key: {
    text: "Ethnic group"
  },
  value: {
    text: ethnicGroup
  },
  actions: {
    items: [
      {
        href: recordPath + "/ethnic-group" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "ethnic group"
      }
    ]
  } if canAmend
} %}

{% if diversityInformationDisclosed and ethnicGroup %}
  {% set diversityRows = diversityRows | push(ethnicGroupRow) %}
{% endif %}



{# {% set ethnicBackgroundRow = {
  key: {
    text: "Ethnic group background"
  },
  value: {
    text: ethnicBackground
  },
  actions: {
    items: [
      {
        href: recordPath + "/ethnic-background" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "ethnic group background"
      }
    ]
  }
} %}

{{ethnicBackground | log}}
{% if diversityInformationDisclosed and ethnicBackground %}
  {% set diversityRows = diversityRows | push(ethnicBackgroundRow) %}
{% endif %} #}

{% set disabilitiesAnswerRow = {
    key: {
      text: "Candidate is disabled"
    },
    value: {
      text: record.diversity.disabledAnswer
    },
    actions: {
      items: [
        {
          href: recordPath + "/disabilities" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "disabilities answer"
        }
      ]
    } if canAmend
  } %}

{% if diversityInformationDisclosed %}
  {% set diversityRows = diversityRows | push(disabilitiesAnswerRow) %}
{% endif %}

{% set disabilitiesRow = {
    key: {
      text: "Disabilities"
    },
    value: {
      text: record.diversity.disabilities | joinify | lower | sentenceCase or "Not provided"
    },
    actions: {
      items: [
        {
          href: recordPath + "/candidate-disabilities" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "candidate disabilities"
        }
      ]
    } if canAmend
  } %}
{{record.diversity.disabledAnswer | falsify | log}}
{% if diversityInformationDisclosed and record.diversity.disabledAnswer == "Yes" %}
  {% set diversityRows = diversityRows | push(disabilitiesRow) %}
{% endif %}

{% set diversityHtml %}
  {{ govukSummaryList({
    rows: diversityRows
  }) }}
{% endset %}





{% set complete = true if (record.diversity | sectionIsCompleted ) %}
{% set status  = record.diversity | getStatusText %}

{% if showIncomplete and not complete %}

  {% set incompleteType = "warning" if errorList %}
  {% set incompleteId = "diversity-details" %}
  {% if status == "In progress" %}
    {% set incompleteText = "Diversity information not marked as complete" %}
    {% set incompleteLink = recordPath + "/diversity/confirm" | addReferrer(referrer) %}
  {% else %}
    {% set incompleteText = "Diversity information not started" %}
    {% set incompleteLink = recordPath + "/diversity-disclosed" | addReferrer(referrer) %}
  {% endif %}

  {% include "_includes/incomplete.njk" %}

{% else %}

  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    titleText: "Diversity information",
    html: diversityHtml
  }) }}
  
{% endif %}
