{% set recordPath = "" %}

{% if record.id %}
  {% set recordPath = "/record/" + record.id %}
{% else %}
  {% set recordPath = "/new-record" %}
{% endif %}

{% set personalDetailsRows = [
  {
    key: {
      text: "Name"
    },
    value: {
      text: record.personalDetails | getFullName or 'Not entered'
    },
    actions: {
      items: [{
        href: recordPath + "/personal-details?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "name"
      }]
    } if canAmend
  }, {
    key: {
      text: "Date of birth"
    },
    value: {
      text: record.personalDetails.dateOfBirth | govukDate or "Not entered"
    },
    actions: {
      items: [{
        href: recordPath + "/personal-details?referrer=" + referrer,
        text: "Change",
        visuallyHiddenText: "date of birth"
      }]
    } if canAmend
  },
  {
    key: {
      text: "Gender"
    },
    value: {
      text: record.personalDetails.sex or 'Not entered'
    },
    actions: {
      items: [
        {
          href: recordPath + "/personal-details?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "gender"
        }
      ]
    } if canAmend
  },
  {
    key: {
      text: "Nationality"
    },
    value: {
      text: record.personalDetails.nationality | removeArrayItem("Other") | joinify or 'Not entered'
    },
    actions: {
      items: [
        {
          href: recordPath + "/personal-details?referrer=" + referrer,
          text: "Change",
          visuallyHiddenText: "nationality"
        }
      ]
    } if canAmend
  }
] %}

{% set personalDetailsHtml %}
  {{ govukSummaryList({
    rows: personalDetailsRows
  }) }}
{% endset %}

{# {% set complete = "true" if applicationValue(["completed", "personal-details"]) %} #}

{# {% if showIncomplete and complete != "true" %}
  {% set incompleteType = "warning" if errorList %}
  {% set incompleteId = "candidate" %}
  {% set incompleteText = "Personal details are not marked as completed" %}
  {% set incompleteLink = "/personal-details/review?referrer=" + referrer %}
  {% include "_includes/review/incomplete.njk" %}
{% else %} #}
  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    titleText: "Personal details",
    html: personalDetailsHtml
  }) }}
{# {% endif %} #}
