{% set isInternational = degree.isInternational | falsify %}

{% set subjectRow = {
  key: {
    text: "Subject"
  },
  value: {
    text: degree.subject or 'Not provided'
  },
  actions: {
    items: [
      {
        href: recordPath + "/degree/" + loop.index0 + "/details" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "degree subject"
      }
    ]
  } if canAmend
} %}

{% set degreeTypeRow = {
  key: {
    text: "Degree type"
  },
  value: {
    text: degree.type or 'Not provided'
  },
  actions: {
    items: [
      {
        href: recordPath + "/degree/" + loop.index0 + "/details" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "degree type"
      }
    ]
  } if canAmend
} %}

{% set institutionRow = {
  key: {
    text: "Institution"
  },
  value: {
    text: degree.org or 'Not provided'
  },
  actions: {
    items: [
      {
        href: recordPath + "/degree/" + loop.index0 + "/details" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "degree institution"
      }
    ]
  } if canAmend
} %}

{% set countryRow = {
  key: {
    text: "Country"
  },
  value: {
    text: degree.country or "Not provided"
  },
  actions: {
    items: [
      {
        href: recordPath + "/degree/" + loop.index0 + "/details" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "degree country"
      }
    ]
  } if canAmend
} %}

{% set graduationRow = {
  key: {
    text: "Graduation year"
  },
  value: {
    text: degree.endDate or "Not provided"
  },
  actions: {
    items: [
      {
        href: recordPath + "/degree/" + loop.index0 + "/details" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "degree graduation year"
      }
    ]
  } if canAmend
} %}

{% set gradeRow = {
  key: {
    text: "Grade"
  },
  value: {
    text: degree.grade or "Not provided"
  },
  actions: {
    items: [
      {
        href: recordPath + "/degree/" + loop.index0 + "/details" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "degree grade"
      }
    ]
  } if canAmend
} %}

{% if isInternational %}
  {% set degreeDetailsRows = [
    subjectRow,
    countryRow,
    graduationRow,
    degreeTypeRow
  ] %}
{% else %}
  {% set degreeDetailsRows = [
    subjectRow,
    degreeTypeRow,
    institutionRow,
    graduationRow,
    gradeRow
  ] %}  
{% endif %}


{% set degreeDetailsHtml %}
  {{ govukSummaryList({
    rows: degreeDetailsRows
  }) }}
{% endset %}

{# Generate title text for card #}
{% if isInternational %}
  {% if degree.type != 'NARIC not provided' %}
    {% set typeText = "Non-UK " + degree.type + ": " %}
  {% else %}
      {% set typeText = "Non-UK degree: " %}
  {% endif %}
  {% set titleText = typeText + (degree.subject | lower) %}
{% else %}
  {% set titleText = degree.type + ": " + (degree.subject | lower) %}
{% endif %}


{{ appSummaryCard({
  classes: "govuk-!-margin-bottom-6",
  titleText: titleText,
  actions: {
    items: [{
      href: recordPath + "/degree/" + loop.index0 + "/delete" | addReferrer(referrer),
      text: "Delete degree"
    }]
  } if canAmend,
  html: degreeDetailsHtml
}) }}

