{% extends "_templates/_record-form.html" %}

{% set pageHeading = "Trainee recommended for QTS" %}

{# {% set formAction = "./save" %} #}

{% set hideReturnLink = true %}
{% set backLink = "/record/" + data.record.id %}
{% set backText = 'Return to trainee' %}


{% block formContent %}

{{ govukPanel({
  titleText: pageHeading,
  html: "Your reference number<br><strong>HDJ2123F</strong>" if false,
  classes: "govuk-!-margin-bottom-6"
}) }}

<p class="govuk-body">The Department for Education will award QTS where appropriate within 3 working days.</p>

<p class="govuk-body"><a href="/records" class="govuk-link">Check trainee statuses from your list of records</a>.</p>

{# {{ govukButton({
  text: "View record",
  href: "/record/" + data.recordId
}) }}

{{ govukButton({
  text: "Add another record",
  href: "/new-record/new"
}) }}
 #}

{% endblock %}
