{% set deferDateArray = record.deferredDate | toDateArray %}

{{ govukDateInput({
  id: "defer-date",
  namePrefix: "record[deferredDate]",
  fieldset: {
    legend: {
      text: "Date left the course",
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: "For example, " + "" | today | toDateArray | spaceSeparate
  },
  items: [
      {
        name: "day",
        classes: "govuk-input--width-2",
        value: deferDateArray["0"]
      },
      {
        name: "month",
        classes: "govuk-input--width-2",
        value: deferDateArray["1"]
      },
      {
        name: "year",
        classes: "govuk-input--width-4",
        value: deferDateArray["2"]
      }
    ]
}) }}

{{ govukButton({
  text: "Continue"
}) }}
