{% set customDeferDateArray = record.deferredDate | toDateArray %}

{% set customDeferDate %}
  {{ govukDateInput({
    id: "custom-defer-date",
    namePrefix: "record[deferredDate]",
    fieldset: {
      legend: {
        text: "Enter the deferral date",
        classes: "govuk-label govuk-label--s"
      }
    },
    hint: {
      text: "For example, " + "" | today | toDateArray | spaceSeparate
    },
    items: [
        {
          name: "day",
          classes: "govuk-input--width-2",
          value: customDeferDateArray["0"]
        },
        {
          name: "month",
          classes: "govuk-input--width-2",
          value: customDeferDateArray["1"]
        },
        {
          name: "year",
          classes: "govuk-input--width-4",
          value: customDeferDateArray["2"]
        }
      ]
  }) }}
{% endset %}

{{record | log}}

{% set todayDateArray = "" | today | toDateArray %}
{% set yesterdayDateArray = "" | today |  moment('subtract', 1, "day") | toDateArray %}

{# {{ date | moment('subtract', 1, "week") }}  #}


{{ govukRadios({
  fieldset: {
    legend: {
      text: "When did the trainee defer?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-4"
    }
  },
  items: [
    {
      text: "Today",
      _value: todayDateArray
    },
    {
      text: "Yesterday",
      _value: yesterdayDateArray
    },
    {
      text: "On another day",
      conditional: {
        html: customDeferDate
      }
    }
  ]
} | decorateAttributes(record, "record.deferredDateRadio")) }}

{{ govukButton({
  text: "Continue"
}) }}
