<h1 class="govuk-heading-l">{{pageHeading}}</h1>

{% set degreeCount = record.degree.items | length %}

{# Degree data is stored in a temp location before being merged back to array #}

{# Get degree (if it exists) from existing data #}
{% set degree = record.degree.items[itemIndex] %}
{# Merge with temp store #}
{% set degreeTemp = degree | mergeObjects(data.degreeTemp) %}

{% set isInternational = degreeTemp.isInternational | falsify %}

{% if degreeCount < 1 %}
{# {% if degreeCount < 1 and action == "add" %} #}
  {# {% set ukHintText = "For example, BA, BSc or other (please specify)" %} #}
  {% set ukHintText = "For example, BA or BSc" %}
{% else %}
  {% set ukHintText = "For example, BA, BSc, Masters or PhD" %}
{% endif %}

{# <p class="govuk-body">If the trainee or candidate has further postgraduate degrees, you can add them next.</p> #}
<p class="govuk-body">If the trainee has any other degrees, you can add them next.</p>


{% set ukConditionalHtml %}
  {# typeUK ultimately gets merged back in to type, hence value checking both #}
  {# {{ appAutocomplete({
    label: {
      text: "Enter degree type"
    },
    hint: {
      text: ukHintText
    },
    id: 'degree-type',
    name: "degreeTemp[typeUK]",
    items: data.degreeTypes,
    classes: "govuk-!-width-two-thirds",
    value: (degreeTemp.type or degreeTemp.typeUK) if not isInternational
    }
  ) }} #}
{% endset %}


{% set internationalConditionalHtml %}

  {# {% set naricItems = [] %}
  {% for naricItem in data.ukComparableDegrees %}
    {% set naricItems = naricItems | push({
      text: naricItem,
      checked: checked(degreeTemp.type, naricItem)
    }) %}
  {% endfor %}
  {% set naricItems = naricItems | push({divider: 'or'}) %}
  {% set naricItems = naricItems | push({text: 'NARIC not provided'}) %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Select the NARIC comparable UK degree"
      }
    },
    items: naricItems
  } | decorateAttributes(degreeTemp, "degreeTemp.typeInt")) }}
   #}
{% endset %}

{{ govukRadios({
  fieldset: {
    legend: {
      text: "Is this a UK or non-UK degree?",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [{
    value: "false",
    text: "UK degree",
    _conditional: {
      html: ukConditionalHtml
    }
  }, {
    value: "true",
    text: "Non-UK degree",
    _conditional: {
      html: internationalConditionalHtml
    }
  }]
} | decorateAttributes(degreeTemp, "degreeTemp.isInternational")) }}


{{ govukButton({
  text: "Continue"
}) }}






