<h1 class="govuk-heading-l">{{pageHeading}}</h1>

{{ govukInput({
  label: {
    text: "Nationality",
    classes: "govuk-label--s"
  },
  id: "first-names",
  name: "record[diversity][nationality][0]",
  value: record.diversity.nationality[0]
}) }}

{% set nationalityHtml %}
  {{ govukInput({
    label: {
      text: "Nationality",
      classes: "govuk-label--s"
    },
    id: "first-names",
    name: "record[diversity][nationality][1]",
    value: record.diversity.nationality[1]
  }) }}

{% endset %}

{{ govukDetails({
  summaryText: "Add a second nationality",
  html: nationalityHtml
}) }}

{{ govukSelect({
  id: "ethnicity",
  name: "ethnicity",
  classes: "govuk-grid-column-full",
  label: {
    text: "Ethnicity",
    classes: "govuk-label--s"
  },
  items: [
    {
      value: "",
      text: "Please select",
      disabled: true,
      selected: data["ethnicity"] === undefined
    },
    {
      value: "Arab",
      text: "Arab",
      selected: data["ethnicity"] === "Arab"
    },
    {
      value: "Asian or Asian British - Bangladeshi",
      text: "Asian or Asian British - Bangladeshi",
      selected: data["ethnicity"] === "Asian or Asian British - Bangladeshi"
    },
    {
      value: "Asian or Asian British - Indian",
      text: "Asian or Asian British - Indian",
      selected: data["ethnicity"] === "Asian or Asian British - Indian"
    },
    {
      value: "Asian or Asian British - Pakistani",
      text: "Asian or Asian British - Pakistani",
      selected: data["ethnicity"] === "Asian or Asian British - Pakistani"
    },
    {
      value: "Black or black British - African",
      text: "Black or black British - African",
      selected: data["ethnicity"] === "Black or black British - African"
    },
    {
      value: "Black or black British - Caribbean",
      text: "Black or black British - Caribbean",
      selected: data["ethnicity"] === "Black or black British - Caribbean"
    },
    {
      value: "Chinese",
      text: "Chinese",
      selected: data["ethnicity"] === "Chinese"
    },
    {
      value: "Gypsy or Traveller",
      text: "Gypsy or Traveller",
      selected: data["ethnicity"] === "Gypsy or Traveller"
    },
    {
      value: "Information not yet sought",
      text: "Information not yet sought",
      selected: data["ethnicity"] === "Information not yet sought"
    },
    {
      value: "Information refused",
      text: "Information refused",
      selected: data["ethnicity"] === "Information refused"
    },
    {
      value: "Irish traveller",
      text: "Irish traveller",
      selected: data["ethnicity"] === "Information refused"
    },
    {
      value: "Mixed - white and Asian",
      text: "Mixed - white and Asian",
      selected: data["ethnicity"] === "Mixed - white and Asian"
    },
    {
      value: "Mixed - white and black African",
      text: "Mixed - white and black African",
      selected: data["ethnicity"] === "Mixed - white and black African"
    },
    {
      value: "Mixed - white and black Caribbean",
      text: "Mixed - white and black Caribbean",
      selected: data["ethnicity"] === "Mixed - white and black Caribbean"
    },
    {
      value: "Other Asian background",
      text: "Other Asian background",
      selected: data["ethnicity"] === "Other Asian background"
    },
    {
      value: "Other black background",
      text: "Other black background",
      selected: data["ethnicity"] === "Other black background"
    },
    {
      value: "Other ethnic background",
      text: "Other ethnic background",
      selected: data["ethnicity"] === "Other ethnic background"
    },
    {
      value: "Other mixed background",
      text: "Other mixed background",
      selected: data["ethnicity"] === "Other mixed background"
    },
    {
      value: "Other white background",
      text: "Other white background",
      selected: data["ethnicity"] === "Other white background"
    },
    {
      value: "White",
      text: "White",
      selected: data["ethnicity"] === "White"
    },
    {
      value: "White - British",
      text: "White - British",
      selected: data["ethnicity"] === "White - British"
    },
    {
      value: "White - Irish",
      text: "White - Irish",
      selected: data["ethnicity"] === "White - Irish"
    },
    {
      value: "White - Scottish",
      text: "White - Scottish",
      selected: data["ethnicity"] === "White - Scottish"
    }
  ]
}) }}

{{ govukInput({
  label: {
    text: "Last name",
    classes: "govuk-label--s"
  },
  hint: {
    text: "Or family name"
  },
  id: "last-name",
  name: "record[personalDetails][familyName]",
  value: record.personalDetails['familyName']
}) }}

{{ govukDateInput({
  id: "Date of birth",
  namePrefix: "record[personalDetails][dateOfBirth]",
  fieldset: {
    legend: {
      text: "Date of birth",
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: "For example, 31 3 1980"
  },
  items: [
      {
        name: "day",
        classes: "govuk-input--width-2",
        value: record.personalDetails.dateOfBirth["0"]
      },
      {
        name: "month",
        classes: "govuk-input--width-2",
        value: record.personalDetails.dateOfBirth["1"]
      },
      {
        name: "year",
        classes: "govuk-input--width-4",
        value: record.personalDetails.dateOfBirth["2"]
      }
    ]
}) }}

{{ govukRadios({
  idPrefix: "gender",
  name: "record[personalDetails][sex]",
  fieldset: {
    legend: {
      text: "Gender",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "Male",
      text: "Male",
      checked: checked([record.personalDetails.sex], "Male")
    },
    {
      value: "Female",
      text: "Female",
      checked: checked([record.personalDetails.sex], "Female")
    },
    {
      value: "Other",
      text: "Other",
      checked: checked([record.personalDetails.sex], "Other")
    }
  ]
}) }}


{{ govukButton({
  text: "Continue"
}) }}
