
{% set ethnicGroup = record.diversity.ethnicGroup %}

{# {% set asianOtherHtml %}
  {{ govukInput({
    classes: "govuk-!-width-two-thirds",
    label: {
      text: "Your Asian background (optional)"
    }
  } | decorateApplicationAttributes(["equality-monitoring", "ethnic-background-other"])) }}
{% endset -%}

{% set blackOtherHtml %}
  {{ govukInput({
    classes: "govuk-!-width-two-thirds",
    label: {
      text: "Your Black background (optional)"
    }
  } | decorateApplicationAttributes(["equality-monitoring", "ethnic-background-other"])) }}
{% endset -%}

{% set mixedOtherHtml %}
  {{ govukInput({
    classes: "govuk-!-width-two-thirds",
    label: {
      text: "Your Mixed background (optional)"
    }
  } | decorateApplicationAttributes(["equality-monitoring", "ethnic-background-other"])) }}
{% endset -%}

{% set whiteOtherHtml %}
  {{ govukInput({
    classes: "govuk-!-width-two-thirds",
    label: {
      text: "Your White background (optional)"
    }
  } | decorateApplicationAttributes(["equality-monitoring", "ethnic-background-other"])) }}
{% endset -%}

{% set otherOtherHtml %}
  {{ govukInput({
    classes: "govuk-!-width-two-thirds",
    label: {
      text: "Describe your ethnic background (optional)"
    }
  } | decorateApplicationAttributes(["equality-monitoring", "ethnic-background-other"])) }}
{% endset -%} #}

  {% if ethnicGroup == "Asian or Asian British" %}
    {{ govukRadios({
      fieldset: {
        legend: {
          text: pageHeading,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [{
        text: "Bangladeshi"
      },
      {
        text: "Chinese"
      },
      {
        text: "Indian"
      },
      {
        text: "Pakistani"
      },
      {
        text: "Another Asian background",
        conditional: {
          html: asianOtherHtml
        }
      },
      {
        divider: "or"
      },
      {
        text: "Not provided"
      }]
    } | decorateAttributes(record, "record.diversity.ethnicBackground"))}}

  {% elif ethnicGroup == "Black, African, Black British or Caribbean" %}

    {{ govukRadios({
      fieldset: {
        legend: {
          text: pageHeading,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [{
        text: "African"
      },
      {
        text: "Caribbean"
      },
      {
        text: "Another Black background",
        conditional: {
          html: blackOtherHtml
        }
      },
      {
      divider: "or"
      },
      {
        text: "Not provided"
      }]
    } | decorateAttributes(record, "record.diversity.ethnicBackground"))}}

  {% elif ethnicGroup == "Mixed or multiple ethnic groups" %}
    {{ govukRadios({
      fieldset: {
        legend: {
          text: pageHeading,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [{
        text: "Asian and White"
      },
      {
        text: "Black African and White"
      },
      {
        text: "Black Caribbean and White"
      },
      {
        text: "Another mixed background",
        conditional: {
          html: mixedOtherHtml
        }
      },
      {
        divider: "or"
      },
      {
        text: "Not provided"
      }]
    } | decorateAttributes(record, "record.diversity.ethnicBackground"))}}

  {% elif ethnicGroup == "White" %}
    {{ govukRadios({
      fieldset: {
        legend: {
          text: pageHeading,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [{
        text: "British, English, Northern Irish, Scottish, or Welsh"
      },
      {
        text: "Irish"
      },
      {
        text: "Irish Traveller or Gypsy"
      },
      {
        text: "Another White background",
        conditional: {
          html: whiteOtherHtml
        }
      },
      {
        divider: "or"
      },
      {
        text: "Not provided"
      }]
    }) }}
  {% else %}
    {{ govukRadios({
      fieldset: {
        legend: {
          text: pageHeading,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [{
        text: "Arab"
      },
      {
        text: "Another ethnic background",
        conditional: {
          html: otherOtherHtml
        }
      },
      {
        divider: "or"
      },
      {
        text: "Not provided"
      }]
    } | decorateAttributes(record, "record.diversity.ethnicBackground"))}}
  {% endif %}


{{ govukButton({
  text: "Continue"
}) }}



