<h1 class="govuk-heading-l">{{pageHeading}}</h1>

{{ govukInput({
  label: {
    text: "First names",
    classes: "govuk-label--s"
  },
  hint: {
    text: "Or given names"
  },
  classes: "govuk-!-width-two-thirds"
}| decorateAttributes(record, "record.personalDetails.givenName"))}}

{{ govukInput({
  label: {
    text: "Middle names",
    classes: "govuk-label--s"
  },
  classes: "govuk-!-width-two-thirds"
} | decorateAttributes(record, "record.personalDetails.middleNames"))}}

{{ govukInput({
  label: {
    text: "Last name",
    classes: "govuk-label--s"
  },
  classes: "govuk-!-width-two-thirds"
} | decorateAttributes(record, "record.personalDetails.familyName"))}}

{# Date of birth may be a date object #}
{% set dateOfBirthArray = record.personalDetails.dateOfBirth | toDateArray %}

{{ govukDateInput({
  id: "date-of-birth",
  namePrefix: "record[personalDetails][dateOfBirth]",
  fieldset: {
    legend: {
      text: "Date of birth",
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: "For example, 31 3 1980"
  },
  items: [
      {
        name: "day",
        classes: "govuk-input--width-2",
        value: dateOfBirthArray["0"]
      },
      {
        name: "month",
        classes: "govuk-input--width-2",
        value: dateOfBirthArray["1"]
      },
      {
        name: "year",
        classes: "govuk-input--width-4",
        value: dateOfBirthArray["2"]
      }
    ]
}) }}

{{ govukRadios({
  fieldset: {
    legend: {
      text: "Gender",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      text: "Male"
    },
    {
      text: "Female"
    },
    {
      text: "Other"
    }
  ]
} | decorateAttributes(record, "record.personalDetails.sex"))}}

{# Separate out nationalities #}
{% set otherNationalities = record.personalDetails.nationality | removeArrayItems(['British','Irish','Other'] | removeEmpty )%}

{% set otherNationalities = otherNationalities | removeEmpty %}
{% set hasOtherNationality = otherNationalities | length > 0 %}

{% set nationalityOtherHtml %}
  {% set nationalityOther = otherNationalities %}
  {% if nationalityOther | length > 1 %}
    {% set nationalityOther = nationalityOther[0] %}
  {% endif %}

  {# Make sure there's enough inputs to cover existing nationalities #}
  {% for nationality in otherNationalities %}
    {% set nationalityIndex = loop.index0 + 3 %}
    {{ govukInput({
      label: {
        text: "Nationality"
      },
      id: "nationality-other" + loop.index0,
      name: "record[personalDetails][nationality][" + nationalityIndex + "]",
      value: nationality,
      classes: "govuk-!-width-two-thirds"
    }) }}
  {% endfor %}

  {# Make sure there's at least one extra input #}
  {% if not otherNationalities | length %}
    {{ govukInput({
      label: {
        text: "Other nationality"
      },
      id: "nationality-other",
      name: "record[personalDetails][nationality][3]",
      value: nationality,
      classes: "govuk-!-width-two-thirds"
    }) }}
  {% endif %}


  <div class="govuk-form-group">
    {{ govukButton({
      text: "Add another nationality",
      classes: "govuk-button--secondary govuk-!-margin-bottom-1",
      href: "#"
    }) }}
  </div>

{% endset %}

{{ govukCheckboxes({
  fieldset: {
    legend: {
      text: "Nationality",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      text: "British"
    },
    {
      text: "Irish"
    },
    {
      text: "Other",
      checked: hasOtherNationality,
      conditional: {
        html: nationalityOtherHtml
      }
    }
  ]
} | decorateAttributes(record, "record.personalDetails.nationality"))}}

{{ govukButton({
  text: "Continue"
}) }}
