{% set reinstateDateArray = record.reinstateDate | toDateArray %}

{{ govukDateInput({
  id: "reinstate-date",
  namePrefix: "record[reinstateDate]",
  fieldset: {
    legend: {
      text: "Date returned to the course",
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: "For example, " + "" | today | toDateArray | spaceSeparate
  },
  items: [
      {
        name: "day",
        classes: "govuk-input--width-2",
        value: reinstateDateArray["0"]
      },
      {
        name: "month",
        classes: "govuk-input--width-2",
        value: reinstateDateArray["1"]
      },
      {
        name: "year",
        classes: "govuk-input--width-4",
        value: reinstateDateArray["2"]
      }
    ]
}) }}

{{ govukButton({
  text: "Continue"
}) }}
