{% set reinstateDateArray = record.reinstateDate | toDateArray %}

{% set customReinstateDate %}
  {{ govukDateInput({
  id: "custom-reinstate-date",
  namePrefix: "record[customReinstateDate]",
  fieldset: {
    legend: {
      text: "Enter the return date",
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: "For example, " + "" | today | toDateArray | spaceSeparate
  },
  items: [
      {
        name: "day",
        classes: "govuk-input--width-2",
        value: reinstateDateArray["0"]
      },
      {
        name: "month",
        classes: "govuk-input--width-2",
        value: reinstateDateArray["1"]
      },
      {
        name: "year",
        classes: "govuk-input--width-4",
        value: reinstateDateArray["2"]
      }
    ]
  }) }}
{% endset %}

{{ govukRadios({
  id: "reinstate-date",
  namePrefix: "record[reinstateDate]",
  fieldset: {
    legend: {
      text: "When did the trainee return to the course?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-4"
    }
  },
  items: [
    {
      value: "Today",
      text: "Today"
    },
    {
      value: "Yesterday",
      text: "Yesterday"
    },
    {
      value: "On another day",
      text: "On another day",
      conditional: {
        html: customReinstateDate
      }
    }
  ]
} | decorateAttributes(data, "data.reinstateDate")) }}

{{ govukButton({
  text: "Continue"
}) }}
