{% extends "_templates/_record-form.html" %}

{% set pageHeading = "Trainee QTS outcome has been recorded" %}

{# {% set formAction = "./save" %} #}

{% set hideReturnLink = true %}
{% set backLink = "/record/" + data.record.id %}
{% set backText = 'Return to trainee' %}


{% block formContent %}

{{ govukPanel({
  titleText: pageHeading,
  html: "Your reference number<br><strong>HDJ2123F</strong>" if false,
  classes: "govuk-!-margin-bottom-6"
}) }}

<p class="govuk-body">The trainee has been recorded as not passing their QTS.</p>
<p class="govuk-body">What happens now? What happens next?</p>

<p class="govuk-body">
  If you think there is a problem with the QTS award, contact <a href="mailto:itt.datamanagement@education.gov.uk">itt.datamanagement@education.gov.uk</a>.
</p>

<h2 class="govuk-heading-m">Next steps:</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="{{ recordPath }}/withdraw" class="govuk-link">Did you want to withdraw this trainee?</a>
  </li>
  <li>
    <a href="{{ recordPath }}" class="govuk-link">View this trainee’s record</a>
  </li>
</ul>

{% endblock %}
