{% extends "_templates/_record-form.html" %}


{% if data.record.status == "Withdrawn" %}
  {% set pageHeading = "This trainee has been withdrawn" %}
{% else %}
  {% set pageHeading = "Trainee QTS outcome has been recorded" %}
{% endif %}

{# {% set formAction = "./save" %} #}

{% set hideReturnLink = true %}
{% set backLink = "/record/" + data.record.id %}
{% set backText = 'Return to trainee' %}

{% block formContent %}

{{ govukPanel({
  titleText: pageHeading,
  classes: "govuk-!-margin-bottom-6"
}) }}

<p class="govuk-body">{{record.personalDetails.shortName}} has been recorded as not passing their QTS{{ ' and has withdrawn from the course' if record.status == 'Withdrawn'}}.</p>

<p class="govuk-body">
  If you think there is a problem with the QTS award, contact <a href="mailto:itt.datamanagement@education.gov.uk">itt.datamanagement@education.gov.uk</a>.
</p>

{% endblock %}
