{% set valueText %}
  {% if record.placement.hasPlacements == "Not yet" %}
    Placements are not yet known
  {% else %}
    Placements are not required for this trainee<br>
    {% if record.placement.placementsNotRequiredReason %}
      Reason: {{record.placement.placementsNotRequiredReason}}
    {% else %}
      Reason:  Not provided
    {% endif %}
  {% endif %}
{% endset %}

{% set placementsDetailsNotAvailableRow = {
  key: {
    text: "Placements"
  },
  value: {
    html: valueText or 'Not provided'
  },
  actions: {
    items: [
      {
        href: recordPath + "/placements/check-for-placements" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "placement details"
      }
    ]
  } if canAmend
} %}

{% set placementDetailsRows = [
  placementsDetailsNotAvailableRow
] %}

{% set placementDetailsHtml %}
  {{ govukSummaryList({
    rows: placementDetailsRows
  }) }}
{% endset %}

{{referrer | log}}

{{ appSummaryCard({
  classes: "govuk-!-margin-bottom-6",
  titleText: 'Placement details',
  html: placementDetailsHtml
}) }}