{% set placements = record.placement.items %}

{% set placementLocationRows = [] %}

{% for placement in placements %}

  {% set placementLocationRows = placementLocationRows | push(
    {
      key: {
        text: "Placement " + loop.index
      },
      value: {
        text: placement.location or 'Not provided'
      }
    }
  ) %}

{% endfor %}

{% set placementDetailsHtml %}
  {{ govukSummaryList({
      rows: placementLocationRows
  }) }}
{% endset %}

{{ appSummaryCard({
  classes: "govuk-!-margin-bottom-6",
  titleText: 'Placement details',
  actions: {
    items: [{
      href: recordPath + "/placements/confirm" | addReferrer(referrer),
      text: "Manage placements"
    }]
  } if canAmend,
  html: placementDetailsHtml
}) }}
