{% set placements = record.placement.items %}

{% set placementLocationRows = [] %}

{% for placement in placements %}

  {% set placementLocationRows = placementLocationRows | push(
    {
      key: {
        text: "Placement " + loop.index
      },
      value: {
        text: placement.location or 'Not provided'
      }
    }
  ) %}

{% endfor %}

{% set placementDetailsHtml %}
  {{ govukSummaryList({
      rows: placementLocationRows
  }) }}
{% endset %}

{% if placementCount == 0 %}
  <p class="govuk-body">No placement details have been added.</p>
  <div class="govuk-form-group">
    {{ govukButton({
      "text": "Add a placement",
      href: recordPath + '/placements/add' | addReferrer(referrer),
      classes: "govuk-button--secondary govuk-!-margin-bottom-0"
    }) }}
  </div>
{% else %}
  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    titleText: 'Placement details',
    actions: {
      items: [{
        href: recordPath + "/placements/confirm" | addReferrer(referrer),
        text: "Manage placements"
      }]
    } if canAmend,
    html: placementDetailsHtml
  }) }}
{% endif %}
