{% set placementLocationRow = {
  key: {
    text: "Location name or URN"
  },
  value: {
    text: placement.location or 'Not provided'
  },
  actions: {
    items: [
      {
        href: recordPath + "/placements/" + placement.id + "/details" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "placement location"
      }
    ]
  } if canAmend
} %}

{% set placementLabel  %}
  {{placement.duration}} {{ 'week' | pluralise (placement.duration | int) }}
{% endset %}

{% set placementDurationRow = {
  key: {
    text: "Duration"
  },
  value: {
    text: placementLabel or 'Not provided'
  },
  actions: {
    items: [
      {
        href: recordPath + "/placements/" + placement.id + "/details" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "placement duration"
      }
    ]
  } if canAmend
} %}

{% set placementDetailsRows = [
  placementLocationRow,
  placementDurationRow
] %}

{% set placementDetailsHtml %}
  {{ govukSummaryList({
    rows: placementDetailsRows
  }) }}
{% endset %}

{{referrer | log}}

{{ appSummaryCard({
  classes: "govuk-!-margin-bottom-6",
  titleText: 'Placement ' + loop.index + ' details',
  actions: {
    items: [{
      href: recordPath + "/placements/" + placement.id + "/delete" | addReferrer(referrer),
      text: "Delete placement"
    }]
  } if canAmend,
  html: placementDetailsHtml
}) }}

