{% extends "_templates/_new-record.html" %}

{% set pageHeading = "Trainee’s application" %}

{% set formAction = "./apply-overview" %}

{% set hideReturnLink = true %}
{% set showIncomplete = false %}
{% set backLink = './apply-overview' %}
{% set backText = 'Back to draft record' %}
{% set gridColumn = 'govuk-grid-column-full' %}


{% block formContent %}

{% set referrer = referrer | pushReferrer(recordPath + "/apply-trainee-application") %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    {% if errorList %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "You must complete all sections before submitting for TRN"
          }
        ]
      }) }}
    {% endif %}

    {% set draftRecordName %}
      {% if record.personalDetails.shortName %}
       for {{record.personalDetails.shortName}}
      {% endif %}
    {% endset %}

    <span class="govuk-caption-l">{{'Draft record' + draftRecordName}}</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-8">{{pageHeading}}</h1>

    {# Text shown if user belongs to multiple providers #}
    {% set providerText %}
      {# Include a link if using blended model #}
      {% if data.signedInProviders | length > 1 %}
        Training with <a href="{{'./pick-provider' | addReferrer(referrer) }}" class="govuk-link">{{record.provider}}</a>
      {# Don’t link if using hat model - they need to back out and pick a different provider to work as #}
      {% else %}
        Training with {{record.provider}}
      {% endif %}
    {% endset %}

    {% set routeText %}
      on the <a href="{{ './select-route' | addReferrer(referrer) }}" class="govuk-link">{{ record.route | lower or "route not set" }}</a> route.
    {% endset %}

    {# Don’t show anything if user doesn't have multiple providers #}
    {% if data.settings.userProviders | length > 1  %}
      {% set insetTextHtml %}
        {{providerText | safe}} {{routeText | safe}}
      {% endset %}

    {% else %}
      {% set insetTextHtml %}
        Trainee {{routeText | safe}}
      {% endset %}
    {% endif %}

    {# Commented out as I don't think we need to confirm the route here? #}
    {# {{ govukInsetText({
      html: insetTextHtml
    }) }} #}


    {% if record | hasInvalidAnswers %}

      {% set invalidAnswerCount = record | countInvalidAnswers %}

      {% set invalidAnswersText %}
        <div class="govuk-!-margin-bottom-2">
          {{govukTag({
            text: "Attention required",
            classes: 'govuk-tag--red'
          })}}
        </div>

        <p class="govuk-body">This application contains {{invalidAnswerCount}} answers that you need to review and amend manually.</p> 
        <p class="govuk-body">This is because applicants are allowed to provide free text responses and we were not able to map their response to a known value.</p>
      {% endset %}

      {{ govukInsetText({
        html: invalidAnswersText
      }) }}

    {% endif %}

  </div>
</div>



<h2 class="govuk-heading-m">Personal details</h2>

{% include "_includes/summary-cards/personal-details.html" %}

{% include "_includes/summary-cards/contact-details.html" %}

{% include "_includes/summary-cards/diversity.html" %}

<h2 class="govuk-heading-m">Education</h2>

{% include "_includes/summary-cards/gcse-details.html" %}

{% include "_includes/summary-cards/degree/details.html" %}

{% include "_includes/summary-cards/undergraduate-qualification.html" %}

{# <h2 class="govuk-heading-m">Course</h2>

{% include "_includes/summary-cards/course-details.html" %} #}

{{ govukCheckboxes({
  idPrefix: "apply-trainee-application-checkbox",
  name: "record[applyData][status]",
  items: [
    {
      value: "Completed",
      text: "I have reviewed their application",
      checked: checked(record.applyData.status, "Completed")
    }
  ]
  }) }}

{{ govukButton({
  text: "Continue"
}) }}

<p class="govuk-body"><a href="./save-as-draft" class="govuk-link">Return to this draft record later</a></p>

{% endblock %}
