{% extends "_templates/_new-record.html" %}

{% set pageHeading = "Review trainee record" %}

{% set formAction = "./save" %}

{% set hideReturnLink = true %}
{% set showIncomplete = true %}
{% set backLink = './overview' %}
{% set backText = 'Back to draft record' %}
{% set gridColumn = 'govuk-grid-column-full' %}


{% block formContent %}
{% set referrer = recordPath + "/check-record" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    {% if errorList %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "You must complete all sections before submitting for TRN"
          }
        ]
      }) }}
    {% endif %}

    {% set draftRecordName %}
      {% if record.personalDetails.shortName %}
       for {{record.personalDetails.shortName}}
      {% endif %}
    {% endset %}

    <span class="govuk-caption-l">{{'Draft record' + draftRecordName}}</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-8">{{pageHeading}}</h1>

    {% if recordIsComplete %}
      {# <p class="govuk-body-l">
        You have completed all sections of the trainee's record. Check that the information is correct before submitting for TRN registration.
      </p> #}
      {% else %}
      {% set insetTextHtml %}
        <p class="govuk-body">This record is not complete and cannot be submitted for TRN. If you do not have all the required information now, you can <a href="./save-as-draft" class="govuk-link">save as a draft record</a>.</p>
      {% endset %}
        {{ govukInsetText({
          html: insetTextHtml
        }) }}

    {% endif %}

  </div>
</div>

<h2 class="govuk-heading-m">Training details</h2>
{% include "_includes/summary-cards/record-setup.html" %}
{% include "_includes/summary-cards/programme-details.html" %}

<h2 class="govuk-heading-m">About the trainee</h2>


{% include "_includes/summary-cards/personal-details.html" %}

{% include "_includes/summary-cards/contact-details.html" %}

{% include "_includes/summary-cards/diversity.html" %}

{% include "_includes/summary-cards/gcse-details.html" %}

{% include "_includes/summary-cards/degree-details.html" %}




{{ govukButton({
  text: "Submit record and request TRN"
}) }}

<p class="govuk-body"><a href="./save-as-draft" class="govuk-link">Return to this draft record later</a></p>

{% endblock %}
