{% extends "_templates/_new-record.html" %}

{% set pageHeading = "New record overview" %}

{% set formAction = "./save" %}

{% set hideReturnLink = true %}


{% block formContent %}
<span class="govuk-caption-l">New record</span>
<h1 class="govuk-heading-l">Check before submitting for TRN</h1>

<h2 class="govuk-heading-m">Candidate details</h2>

{% include "_includes/summary-cards/personal-details.html" %}

{% include "_includes/summary-cards/contact-details.html" %}

{% include "_includes/summary-cards/diversity.html" %}

<h2 class="govuk-heading-m">Education / qualifications</h2>

<h2 class="govuk-heading-m">Assessment details</h2>

{{ govukButton({
  text: "Submit for TRN"
}) }}


{% endblock %}

