{% extends "_templates/_new-record.html" %}

{% set pageHeading = "New record overview" %}

{% set formAction = "./save" %}

{% set hideReturnLink = true %}
{% set showIncomplete = true %}
{% set backLink = './overview' %}
{% set backText = 'New record overview' %}
{% set gridColumn = 'govuk-grid-column-full' %}


{% block formContent %}
{% set referrer = recordPath + "/check-record" %}

{% if errorList %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: [
      {
        text: "You must complete all sections before submitting for TRN"
      }
    ]
  }) }}
{% endif %}

<span class="govuk-caption-l">New record</span>
<h1 class="govuk-heading-l">Check before submitting for TRN</h1>

{% include "_includes/summary-cards/record-setup.html" %}

<h2 class="govuk-heading-m">Candidate details</h2>

{% include "_includes/summary-cards/personal-details.html" %}

{% include "_includes/summary-cards/contact-details.html" %}

{% include "_includes/summary-cards/diversity.html" %}

<h2 class="govuk-heading-m">Education</h2>
{% include "_includes/summary-cards/gcse-details.html" %}

<h3 class="govuk-heading-s">{{ "Degree" | pluralise(record.degree.items | length)}}</h3>
{% include "_includes/summary-cards/degree-details.html" %}

<h2 class="govuk-heading-m">Assessment details</h2>
{% include "_includes/summary-cards/assessment-details.html" %}


{{ govukButton({
  text: "Submit for TRN"
}) }}

<p class="govuk-body"><a href="./save-as-draft" class="govuk-link">Save as draft</a></p>

{% endblock %}

