{% extends "_templates/_new-record.html" %}

{% set pageHeading = "Overview" if not data.record.id else (data.record.personalDetails.shortName or "Overview") %}

{% set hideReturnLink = true %}
{% set backLink = '/records' %}
{% set backText = "All records" %}
{% set referrer = recordPath + "/overview" %}


{% block formContent %}

<span class="govuk-caption-l">{{'Add a trainee' if not record.id else 'Draft record'}}</span>
<h1 class="govuk-heading-l">{{pageHeading}}</h1>

{{ appTaskList({
  classes: "govuk-!-margin-bottom-8",
  items: [{
    text: "Record setup",
    href: "record-setup",
    id: "record-type",
    tag: {
      classes: 'Completed' | getStatusClass,
      text: 'Completed'
    }
  }]
}) if not closed }}

<h2 class="govuk-heading-m">Trainee details</h2>
{{ appTaskList({
  classes: "govuk-!-margin-bottom-8",
  items: [{
    text: "Personal details",
    href: "personal-details" | reviewIfInProgress(record.personalDetails),
    id: "personal-details",
    tag: {
      classes: record.personalDetails | getStatusText | getStatusClass,
      text: record.personalDetails | getStatusText
    }
  } if record | requiresSection("personalDetails"),
  {
    text: "Contact details",
    href: "contact-details" | reviewIfInProgress(record.contactDetails),
    id: "contact-details",
    tag: {
      classes: record.contactDetails | getStatusText | getStatusClass,
      text: record.contactDetails | getStatusText
    }
  } if record | requiresSection("contactDetails"),
  {
    text: "Diversity information",
    href: "diversity-disclosed" | reviewIfInProgress(record.diversity, 'diversity'),
    id: "diversity",
    tag: {
      classes: record.diversity | getStatusText | getStatusClass,
      text: record.diversity | getStatusText
    }
  } if record | requiresSection("diversity")
  ]
}) if not closed }}

<h2 class="govuk-heading-m">Education</h2>
{{ appTaskList({
  classes: "govuk-!-margin-bottom-8",
  items: [
  {
    text: "GCSE",
    href: "gcse-details" | reviewIfInProgress(record.gcse, 'gcse'),
    id: "qualification-gcse",
    tag: {
      classes: record.gcse | getStatusText | getStatusClass,
      text: record.gcse | getStatusText
    }
  } if record | requiresSection("gcse"),
  {
    text: "Degree",
    href: "degree/confirm" if (record.degree.items | length) else "degree/add",
    id: "qualification-degree",
    tag: {
      classes: record.degree | getStatusText | getStatusClass,
      text: record.degree | getStatusText
    }
  } if record | requiresSection("degree")
  ]
}) if not closed }}

<h2 class="govuk-heading-m">Programme</h2>
{{ appTaskList({
  classes: "govuk-!-margin-bottom-8",
  items: [
  {
    text: "Programme details",
    href: "programme-details" | reviewIfInProgress(record.programmeDetails),
    id: "programme-details",
    tag: {
      classes: record.programmeDetails | getStatusText | getStatusClass,
      text: record.programmeDetails | getStatusText
    }
  } if record | requiresSection("programmeDetails")
  ]
}) if not closed }}


{{ govukButton({
  text: "Check and submit for TRN",
  href: "check-record"
}) }}

<p class="govuk-body"><a href="./save-as-draft" class="govuk-link">Return to this draft record later</a></p>

{% endblock %}

