{% extends "_templates/_new-record.html" %}

{% set pageHeading = "Overview" %}

{% set hideReturnLink = true %}


{% block formContent %}
<span class="govuk-caption-l">New record</span>
<h1 class="govuk-heading-l">{{pageHeading}}</h1>
{{ appTaskList({
  classes: "govuk-!-margin-bottom-8",
  items: [{
    text: "Record type",
    href: "hi",
    id: "application-type",
    tag: {
      classes: 'Completed' | getStatusClass,
      text: 'Completed'
    }
  }]
}) if not closed }}

<h2 class="govuk-heading-m">Candidate details</h2>
{{ appTaskList({
  classes: "govuk-!-margin-bottom-8",
  items: [{
    text: "Personal details",
    href: "personal-details" | reviewIfInProgress(record.personalDetails),
    id: "application-type",
    tag: {
      classes: record.personalDetails | getStatusText | getStatusClass,
      text: record.personalDetails | getStatusText
    }
  },
  {
    text: "Contact details",
    href: "contact-details" | reviewIfInProgress(record.contactDetails),
    id: "application-type",
    tag: {
      classes: record.contactDetails | getStatusText | getStatusClass,
      text: record.contactDetails | getStatusText
    }
  },
  {
    text: "Diversity information",
    href: "diversity-disclosed" | reviewIfInProgress(record.diversity, 'diversity'),
    id: "application-type",
    tag: {
      classes: record.diversity | getStatusText | getStatusClass,
      text: record.diversity | getStatusText
    }
  }]
}) if not closed }}

{{record.diversity | log}}

{{ govukButton({
  text: "Check and submit for TRN",
  href: "check-record"
}) }}


{% endblock %}

