{% extends "_templates/_new-record.html" %}

{% set pageHeading = "Trainee submitted for TRN" %}

{# {% set formAction = "./save" %} #}

{% set hideReturnLink = true %}
{% set backLink = 'false' %}


{% block formContent %}
{{ govukPanel({
  titleText: "Trainee submitted for TRN",
  html: "Your reference number<br><strong>HDJ2123F</strong>" if false
}) }}

<p class="govuk-body">
  We will update their record status when we receive the TRN.
</p>

<h2 class="govuk-heading-m">Next steps:</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="{{ '/record/' + data.recordId }}" class="govuk-link">View this record</a>
  </li>
  <li>
    <a href="/records" class="govuk-link">Return to the records list</a>
  </li>
  <li>
    <a href="/new-record/new" class="govuk-link">Add another trainee record</a>
  </li>
</ul>

{# {{ govukButton({
  text: "View record",
  href: "/record/" + data.recordId
}) }}

{{ govukButton({
  text: "Add another record",
  href: "/new-record/new"
}) }}
 #}

{% endblock %}

