{% extends "_templates/_new-record.html" %}

{% set pageHeading = "Trainee submitted for TRN" %}

{# {% set formAction = "./save" %} #}

{% set hideReturnLink = true %}
{% set backLink = '/records' %}
{% set backText = 'All records' %}



{% block formContent %}

{# For this one page, we no longer have record in session data, so have to look it up #}
{% set recordArray = data.records | where("route", data.recordId) %}
{% set record = recordArray[0] %}

{% set panelTitleText %}

  {{ record.personalDetails.shortName or "Trainee" }}’s record submitted for TRN

{% endset %}

{{ govukPanel({
  titleText: panelTitleText,
  html: "Your reference number<br><strong>HDJ2123F</strong>" if false,
  classes: "govuk-!-margin-bottom-6"
}) }}

<p class="govuk-body">The Department for Education will issue the TRN within 3 working days.</p>

<p class="govuk-body">When the TRN is received, the trainee record status will be automatically updated. You can <a href="/records" class="govuk-link">check trainee statuses from your list of records</a>.</p>

{% if record.route == "Assessment Only" %}
  <p class="govuk-body">You can recommend the trainee for QTS once their TRN is received and they’ve met the requirements.</p>
{% endif %}

<p class="govuk-body">Would you like to <a href="/new-record/new" class="govuk-link">add another trainee</a>?</p>

{# {{ govukButton({
  text: "View record",
  href: "/record/" + data.recordId
}) }}

{{ govukButton({
  text: "Add another record",
  href: "/new-record/new"
}) }}
 #}

{% endblock %}
