
{% set traineeIdRow = {
  key: {
    text: "Trainee ID"
  },
  value: {
    text: record.trainingDetails.traineeId or "Not provided"
  },
  actions: {
    items: [
      {
        href: recordPath + "/training-details" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "trainee ID"
      }
    ]
  } if canAmend
} %}

{% set commencementDateLabel -%}

  {% if record | isDraft %}
    {% if record.trainingDetails.commencementDate %}
      {{- record.trainingDetails.commencementDate | govukDate -}}
    {% elseif not data.settings.requireTraineeStartDate and not (record.trainingDetails.traineeStarted | falsify) %}
      Trainee yet to start course
    {% else %}
      Not provided
    {% endif %}

  {% else %}
    {{- (record.trainingDetails.commencementDate | govukDate ) or "Not provided" -}}
  {% endif %}
{%- endset %}

{{ data.settings | log}}

{% set traineeStarted = record.trainingDetails.traineeStarted | falsify %}

{% set traineeStartDateRow = {
    key: {
      text: "Date trainee started"
    },
    value: {
      text: commencementDateLabel
    },
    actions: {
      items: [
        {
          href: recordPath + "/training-details" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "start date"
        }
      ]
    } if canAmend
  } %}


{% if record.trainingDetails.leadSchool %}
  {% set leadSchoolHtml %}
    <p class="govuk-body">{{record.trainingDetails.leadSchool.schoolName}}</p>
    <span class="govuk-hint">{{record.trainingDetails.leadSchool | getSchoolHint}}</span>
  {% endset %}
{% endif %}


{% set leadSchoolRow = {
  key: {
    text: "Lead school"
  },
  value: {
    text: leadSchoolHtml | safe or "Not provided"
  },
  actions: {
    items: [
      {
        href: recordPath + "/training-details/lead-school" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "lead school"
      }
    ]
  } if canAmend
} %}

{% if record.trainingDetails.employingSchool %}
  {% set employingSchoolHtml %}
    <p class="govuk-body">{{record.trainingDetails.employingSchool.schoolName}}</p>
    <span class="govuk-hint">{{record.trainingDetails.employingSchool | getSchoolHint}}</span>
  {% endset %}
{% endif %}


{% set employingSchoolRow = {
  key: {
    text: "Employing school"
  },
  value: {
    text: employingSchoolHtml | safe or "Not provided"
  },
  actions: {
    items: [
      {
        href: recordPath + "/training-details/employing-school" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "employing school"
      }
    ]
  } if canAmend
} %}


{% set trainingDetailsRows = [
  traineeIdRow if record | isDraft,
  traineeStartDateRow if record | isDraft,
  leadSchoolRow if record | requiresField("leadSchool"),
  employingSchoolRow if record | requiresField("employingSchool")
] %}


{% set trainingDetailsHtml %}
  {{ govukSummaryList({
    rows: trainingDetailsRows
  }) }}
{% endset %}




{% set complete = true if (record.trainingDetails | sectionIsCompleted ) %}

{% set status  = record.trainingDetails | getStatusText %}
{% set sectionIsRequired = record | requiresSection("trainingDetails") %}

{% if not sectionIsRequired %}
  {# Section not required #}
{% elseif showIncomplete and not complete %}

  {% set incompleteType = "warning" if errorList %}
  {% set incompleteId = "training-details" %}
  {% if status == "In progress" %}
    {% set incompleteText = "Training details not marked as complete" %}
    {% set incompleteLink = recordPath + "/training-details/confirm" | addReferrer(referrer) %}
    {% set incompleteLinkText = "Continue section" %}
  {% else %}
    {% set incompleteText = "Training details not started" %}
    {% set incompleteLink = recordPath + "/training-details" | addReferrer(referrer) %}
    {% set incompleteLinkText = "Start section" %}
  {% endif %}

  {% include "_includes/incomplete.njk" %}

{% else %}

  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    titleText: record | getSectionName("trainingDetails"),
    html: trainingDetailsHtml
  }) }}

{% endif %}
