{% extends "_templates/_new-record.html" %}

{% set pageHeading = "Confirm assessment details" %}

{% set formAction = "./../overview" | orReferrer(referrer) %}

{% block formContent %}
  <h1 class="govuk-heading-l">{{pageHeading}}</h1>
  {% include "_includes/summary-cards/assessment-details.html" %}

  {{ govukCheckboxes({
  idPrefix: "waste",
  name: "record[assessmentDetails][status]",
  items: [
    {
      value: "Completed",
      text: "I have completed this section",
      checked: checked(record.assessmentDetails.status, "Completed")
    }
  ]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}

{% endblock %}

