// Moj Filter panel overrides

.moj-filter-layout__filter-wrapper {
  max-width: 300px;
  margin-right: 40px;
  min-width: 260px;
  width: 100%;
  
  @include govuk-media-query($from: desktop) {
    float: left;
  }
}

.moj-filter-layout__filter {
  box-shadow: none;
  
  @include govuk-media-query($from: desktop) {
    margin-bottom: govuk-spacing(3);
  }
}

.js-enabled .moj-filter-layout__filter {
  @include govuk-media-query($until: tablet) {
    // only display a scrollbar if it there is overflow to scroll
    overflow: auto;
    // At this width the filter has `position: fixed`. We should set a max width that will safely include the filter and a scrollbar if present 
    max-width: calc(100vw - calc(100vw - 100%));
  }
}

.moj-filter__header {
  background: govuk-colour('white');
  box-shadow: none;
  border: 1px solid #b1b4b6;
  border-bottom: 0;
  padding-top: govuk-spacing(3);
  padding-bottom: govuk-spacing(3);
}

.moj-filter__selected {
  box-shadow: none;
  border: 1px solid #b1b4b6;
  border-top: 0;
  border-bottom: 0;
  padding-top: govuk-spacing(5);
  padding-bottom: govuk-spacing(5);
}

.moj-filter__options {
  box-shadow: none;
}

.moj-action-bar {
  overflow: hidden;

  @include govuk-media-query($from: desktop) {
    display: none;
  }
}

.moj-action-bar__filter {
  @include govuk-media-query($until: 500px) {
    width: 100%;
  }
}

.moj-action-bar__filter:after {
  background: none;
}

.moj-filter-layout__content {
  overflow: hidden;
}
