{# <h1 class="govuk-heading-l">{{pageHeading}}</h1> #}

{% set providerCourses = data.courses["University of Southampton"].courses | limitTo(8) %}

{% if record.programmeDetails.isPublishCourse | falsify %}
  {% set selectedCourse = record.programmeDetails.id %}
{% elseif record.programmeDetails %}
  {# Todo: stop storing route in two places #}
  {% set selectedCourse = record.programmeDetails.route or record.route %}
{% else %}
  {% set selectedCourse = record.route %}
{% endif %}

{% set courseItems = [] %}

{% for course in providerCourses %}
  {% set courseItems = courseItems | push({
    text: course.subject + " (" + course.code + ")",
    value: course.id,
    checked: checked(selectedCourse, course.id),
    hint: {
      _text: course.route + " — " + course.summary,
      text: course.route
    }
  }) %}
{% endfor %}

{% set courseItems = courseItems | push({divider: 'or'}) %}

{% for route in data.settings.enabledTrainingRoutes %}

  {% if route == 'Assessment only' %}
    {# Singluar because publish doesn’t have assessment only courses #}
    {% set labelText = "An assessment only course" %}
  {% else %}
    {# 'Another' because most should already be listed in publish #}
    {% set labelText = "Another " + (route | lower) + " course" %}
  {% endif %}

  {% set courseItems = courseItems | push({
    value: route,
    text: labelText,
    checked: checked(selectedCourse, route)
  }) %}
  
{% endfor %}

{% set courseItems = courseItems | push({
  value: "Other",
  text: "Another type of course"
}) %}

{{ govukRadios({
  fieldset: {
    legend: {
      text: pageHeading,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: courseItems
} | decorateAttributes(record, "record.selectedCourseTemp")) }}

{{ govukButton({
  text: "Continue"
}) }}
