
{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You are not permitted to see this page</h1>

    <p class="govuk-body">
      This page is restricted to certain users only.
    </p>
    <p class="govuk-body">
      Contact the Register trainee teachers team to request access: <a class="govuk-link" href="mailto:registerateacher@digital.education.gov.uk?subject=Page%20not%20found">registerateacher@digital.education.gov.uk</a>
    </p>

  </div>

</div>

{% endblock %}
