
{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sorry, something went wrong</h1>

    <p class="govuk-body">
      Try again later. If you continue to see this message, email the Register trainee teachers team at <a class="govuk-link" href="mailto:registerateacher@digital.education.gov.uk?subject=Page%20not%20found">registerateacher@digital.education.gov.uk</a>.
    </p>

  </div>

</div>

{% endblock %}
