
{% extends "_templates/_page.html" %}

{% set backLink = '/records' %}
{% set backText = 'All records' %}
{% set pageHeading = 'Prototype settings' %}
{# {% set pageAction = value %} #}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">{{pageHeading}}</h1>

      <form action="" method="post">
        {{data.settings | log}}

        {{ govukCheckboxes({
          items: [
            {
              value: 'true',
              text: "Include timeline on records"
            }
          ]
        } | decorateAttributes(data, "data.settings.includeTimeline")) }}

        {{ govukButton({
          "text": "Update"
        }) }}
   
    </form>

  </div>

</div>

{% endblock %}
