
{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l register-main-heading">
      {{ data["first-names"] }} {{ data["last-name"] }}
      <span class="govuk-tag govuk-tag--dark-grey">Draft record</span>
    </h1>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="/personal-details">
          Personal details
        </a>
      </li>
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="/contact-details">
          Contact details
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="/previous-education">
          Previous education
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="/training-details">
          Training details
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="/course-details">
          Course details
        </a>
      </li>
    </ul>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-tabs__panel">
        <div class="govuk-grid-column-two-thirds">
          <form action="/previous-education" method="post" class="form">
            <h2 class="govuk-heading-l">Contact details</h2>

            <fieldset class="govuk-fieldset address">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h2 class="govuk-fieldset__heading">
                  Address
                </h2>
              </legend>

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-line-1">
                  Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
                </label>
                <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1" value="{{ data["address-line-1"] }}">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-line-2">
                  <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
                </label>
                <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2" value="{{ data["address-line-2"] }}">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-town">
                  Town or city
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level2" value="{{ data["address-town"] }}">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-county">
                  County
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text" value="{{ data["address-county"] }}">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-postcode">
                  Postcode
                </label>
                <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code" value="{{ data["address-postcode"] }}">
              </div>
            </fieldset>

            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--s" for="phone-number">
                Phone number
              </label>
              <span id="phone-number-hint" class="govuk-hint">
                Enter a landline or mobile. For non-UK numbers, include the country code
              </span>
              <input class="govuk-input" id="phone-number" name="phone-number" type="text" value="{{ data["phone-number"] }}">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--s" for="email">
                Email
              </label>
              <input class="govuk-input" id="email" name="email" type="text" value="{{ data["email"] }}">
            </div>

            {{ govukButton({
              text: "Add contact details to training record",
              classes: "govuk-button govuk-button--primary govuk-!-margin-right-1"
            }) }}
            <a href="/summary" class="govuk-link summary-link">View record summary</a>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
