
{% extends "_templates/_page.html" %}
{% set backLink = '/start-page' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Data requirements</h1>
    <p class="govuk-body">We only ask for the data we require to register trainee teachers. We have outlined what you need to collect for each route.</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ govukTable({
      caption: "Data requirements",
      captionClasses: "govuk-visually-hidden",
      head: [
        {
          text: "Data required for all routes"
        },
        {
          text: "Specific data for Assessment Only"
        }
      ],
      rows: [
        [
          {
            html: "
            <h2 class='govuk-heading-s'>Personal details</h2>
            <ul class='govuk-list'>
              <li>
                First or given names
              </li>
              <li>
                Middle names
              </li>
              <li>
                Last or family name
              </li>
              <li>
                Date of birth
              </li>
              <li>
                Gender
              </li>
              <li>
                Nationality
              </li>
            </ul>
            "
          },
          {
            html: "
            <h2 class='govuk-heading-s'>Programme details</h2>
            <ul class='govuk-list'>
              <li>
                Subject
              </li>
              <li>
                Age range
              </li>
              <li>
                Start date
              </li>
              <li>
                End date (to recommend for QTS)
              </li>
            </ul>
            "
          }
        ],
        [
          {
            html: "
            <h2 class='govuk-heading-s'>Contact details</h2>
            <ul class='govuk-list'>
              <li>
                Address
              </li>
              <li>
                Phone number
              </li>
              <li>
                Email address
              </li>
            </ul>
            "
          },
          {
            html: ""
          }
        ],
        [
          {
            html: "
            <h2 class='govuk-heading-s'>Diversity information (optional)</h2>
            <ul class='govuk-list'>
              <li>
                Ethnicity
              </li>
              <li>
                Disability
              </li>
            </ul>
            "
          },
          {
            html: ""
          }
        ],
        [
          {
            html: "
            <h2 class='govuk-heading-s'>UK degrees</h2>
            <ul class='govuk-list'>
              <li>
                Type, for example, BA, BSc or other
              </li>
              <li>
                Subject
              </li>
              <li>
                Institution
              </li>
              <li>
                Graduation year
              </li>
              <li>
                Grade
              </li>
            </ul>
            "
          },
          {
            html: ""
          }
        ],
        [
          {
            html: "
            <h2 class='govuk-heading-s'>Non-UK degrees</h2>
            <ul class='govuk-list'>
              <li>
                NARIC comparable UK degree (if provided)
              </li>
              <li>
                Degree subject
              </li>
              <li>
                Country where the degree was obtained
              </li>
              <li>
                Graduation year
              </li>
            </ul>
            "
          },
          {
            html: ""
          }
        ]
      ]
    }) }}
  </div>
</div>

{% endblock %}
