
{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Assessment Only (AO) guidance</h1>
        
        <h2 class="govuk-heading-m">Overview</h2>
        <p class="govuk-body">Register Trainee Teachers is a service for Initial Teacher Training (ITT) providers to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>upload ITT data for the DfE census</li>
          <li>get a Teacher Reference Number (TRN) for AO candidates</li>
          <li>recommend candidates for Qualified Teacher Status (QTS)</li>
          <li>check and update your AO candidate data</li>
        </ul>
        <p class="govuk-body">If you are a Higher Education Institute (HEI), you must submit your AO data using the Register Trainee Teacher service. You do not submit it via the Higher Education Statistics Agency (HESA).</p>
        <p class="govuk-body">You can only register trainee teachers for the current academic year. If you need to register a trainee teacher within a different academic year <a href="mailto:itt.datamanagement@education.gov.uk">contact us</a>.</p>
        <p class="govuk-body">Find out more about <a href="https://www.gov.uk/government/publications/initial-teacher-training-criteria/initial-teacher-training-itt-criteria-and-supporting-advice#accreditation"> ITT policy</a>.</p>
        <h2 class="govuk-heading-m">Assessment Only route</h2>
        <p class="govuk-body">AO is a route to Qualified Teacher Status (QTS) in England for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>experienced teachers with a degree</li>
          <li>people with teaching qualifications from other countries</li>
        </ul>
        <p class="govuk-body">It allows teachers to demonstrate that they already meet all the QTS standards without the need for further training.</p>
        <p class="govuk-body">Find out more about <a href="https://www.gov.uk/government/publications/the-assessment-only-route-to-qts#:~:text=The%20assessment%20only%20route%20to%20qualified%20teacher%20status%20(%20QTS%20)%20allows,an%20accredited%20and%20approved%20provider"> AO route policy</a>.</p>
        <h2 class="govuk-heading-m">Timelines for AO candidate data</h2>
        <p class="govuk-body">There are no timelines for the AO route. It is an assessment period of up to 12 weeks. You can register AO candidates at any stage during the academic year.</p>
        <p class="govuk-body">AO candidates do not form part of the census collection as they are already part of the workforce.</p>
        <h2 class="govuk-heading-m">Preparing your AO candidate data</h2>
        <p class="govuk-body">To help you collect and prepare your AO candidate data we have produced an <a href="#">AO Excel spreadsheet</a>.</p>
        <p class="govuk-body">The spreadsheet only contains the data required for the AO route in the same order as the Register Trainee Teachers service. It also tells you the format of the data needed for the service.</p>
        <p class="govuk-body">You do not have to use the DfE spreadsheet, but it does tell you the data requirements and the format.</p>
        <h2 class="govuk-heading-m">Register Trainee Teachers</h2>
        <p class="govuk-body">Once you have collected and prepared your AO candidate data, you can upload it in <a href="#">Register Trainee Teachers.</a></p>
        <p class="govuk-body">If you have any questions, you can <a href="mailto:itt.datamanagement@education.gov.uk">contact us</a>.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
