{% extends "layout.html" %}
{% set navActive = "home" %}

{% block content %}



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">{{serviceName}}</h1>
        <p class="govuk-body-l">Register trainees with the Department for Education and record the outcome of their training.</p>
        {{ govukButton({
          text: "Add a trainee",
          href: "./new-record/new",
          isStartButton: true
        }) }}
      </div>
    </div>


    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m"><a href="/records" class="govuk-link govuk-link--no-visited-state">Trainee records</a></h2>
        <p class="govuk-body">Review and manage your trainee records.</p>
      </div>
      {% if data.settings.includeGuidance %}
        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-m"><a href="/guidance" class="govuk-link govuk-link--no-visited-state">Guidance</a></h2>
          <p class="govuk-body">Service guidance for each route.</p>
        </div>
      {% endif %}
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m"><a href="#" class="govuk-link govuk-link--no-visited-state">Give feedback</a></h2>
        <p class="govuk-body">This is a new service. Your views will help us improve it.</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m"><a href="/data-requirements" class="govuk-link govuk-link--no-visited-state">Check what data you need</a></h2>
        <p class="govuk-body">The data you need to complete a trainee record.</p>
      </div>

    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">Your 2020 to 2021 trainees</h2>

    {% set records = data.providerRecords | filterByYear(data.currentYear)| filterDisabledTrainingRoutes %}

    {% set qtsCount = records | where("status", "QTS recommended") | length %}
        <span class="status-card__count">{{qtsCount}}</span>
    {{status}}

    {% macro statusCard(records, status) %}
      <a href="/records?filterStatus={{status}}" class="status-card status-card--{{status | lower | kebabCase }}">
        {% set recordCount = records | where("status", status) | length %}
        <span class="status-card__count">{{recordCount}}</span>
        {{status}}
      </a>
    {% endmacro %}

    <div class="govuk-grid-row govuk-!-margin-bottom-6">
      {% set statuses = ['Draft', 'Pending TRN', 'TRN received'] %}
      {% for status in statuses %}
        <div class="govuk-grid-column-one-third">
          {{ statusCard(records, status) }}
        </div>
      {% endfor %}
    </div>
    {# <div class="govuk-grid-row govuk-!-margin-bottom-6">
      {% set statuses = ['EYTS recommended', 'EYTS awarded', 'QTS recommended', 'QTS awarded'] %}
      {% for status in statuses %}
        <div class="govuk-grid-column-one-quarter">
          {{ statusCard(records, status) }}
        </div>
      {% endfor %}
    </div> #}
    <div class="govuk-grid-row govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-one-quarter">
        <a href="/records?filterStatus=EYTS recommended&filterStatus=QTS recommended" class="status-card status-card--recommended">
          {% set recordCount = records | where("status", ['EYTS recommended','QTS recommended']) | length %}
          <span class="status-card__count">{{recordCount}}</span>
          Qualification recommended
        </a>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <a href="/records?filterStatus=EYTS awarded&filterStatus=QTS awarded" class="status-card status-card--awarded">
          {% set recordCount = records | where("status", ['EYTS awarded','QTS awarded']) | length %}
          <span class="status-card__count">{{recordCount}}</span>
          Qualification awarded
        </a>
      </div>
      {% set statuses = ['Deferred', 'Withdrawn'] %}
      {% for status in statuses %}
        <div class="govuk-grid-column-one-quarter">
          {{ statusCard(records, status) }}
        </div>
      {% endfor %}
    </div>
    {# <div class="govuk-grid-row govuk-!-margin-bottom-6">
      {% set statuses = ['Deferred', 'Withdrawn'] %}
      {% for status in statuses %}
        <div class="govuk-grid-column-one-half">
          {{ statusCard(records, status) }}
        </div>
      {% endfor %}
    </div> #}

  </div>

</div>



{% endblock %}
