{% extends "layout.html" %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">{{serviceName}}</h1>
        <p class="govuk-body-l">Register trainees with the Department for Education and record the outcome of their training.</p>
        {{ govukButton({
          text: "Add a trainee",
          href: "./new-record/new",
          isStartButton: true
        }) }}
      </div>
    </div>


    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m"><a href="/records" class="govuk-link govuk-link--no-visited-state">Trainee records</a></h2>
        <p class="govuk-body">All the trainee teachers in your organisation.</p>
      </div>
      {% if data.settings.includeGuidance %}
        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-m"><a href="/guidance" class="govuk-link govuk-link--no-visited-state">Guidance</a></h2>
          <p class="govuk-body">Service guidance for each route.</p>
        </div>
      {% endif %}
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m"><a href="/data-requirements" class="govuk-link govuk-link--no-visited-state">Check what data you need</a></h2>
        <p class="govuk-body">Route specific data requirements.</p>
      </div>

    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">Trainee status overview</h2>

    <div class="govuk-grid-row govuk-!-margin-bottom-6">

      {% set records = data.records | filterDisabledTrainingRoutes %}

      <div class="govuk-grid-column-one-third">
        <div class="status-card status-card--draft">
          {% set draftRecordCount = records | where("status", "Draft") | length %}
          <span class="status-card__count">{{draftRecordCount}}</span>
          Draft
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="status-card status-card--pending-trn">
          {% set pendingTrnRecordCount = records | where("status", "Pending TRN") | length %}
          <span class="status-card__count">{{pendingTrnRecordCount}}</span>
          Pending TRN
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="status-card status-card--trn-received">
          {% set trnReceivedRecordCount = records | where("status", "TRN received") | length %}
          <span class="status-card__count">{{trnReceivedRecordCount}}</span>
          TRN received
        </div>
      </div>

    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-6">

      <div class="govuk-grid-column-one-quarter">
        <div class="status-card status-card--qts-recommended">
          {% set qtsRecommendedRecordCount = records | where("status", "QTS recommended") | length %}
          <span class="status-card__count">{{qtsRecommendedRecordCount}}</span>
          QTS recommended
        </div>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div class="status-card status-card--qts-awarded">
          {% set qtsAwardedRecordCount = records | where("status", "QTS awarded") | length %}
          <span class="status-card__count">{{qtsAwardedRecordCount}}</span>
          QTS awarded
        </div>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div class="status-card status-card--deferred">
          {% set deferredRecordCount = records | where("status", "Deferred") | length %}
          <span class="status-card__count">{{deferredRecordCount}}</span>
          Deferred
        </div>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div class="status-card status-card--withdrawn">
          {% set withdrawnRecordCount = records | where("status", "Withdrawn") | length %}
          <span class="status-card__count">{{withdrawnRecordCount}}</span>
          Withdrawn
        </div>
      </div>

    </div>

  </div>

</div>

{% endblock %}
