
{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{serviceName}}</h1>

    <h2 class="govuk-heading-m">Prototype sections</h2>

    <div class="govuk-form-group">
      {{ govukButton({
        text: "Start page",
        href: "/start-page"
      }) }}
    </div>
    
    <div class="govuk-form-group">
      {{ govukButton({
        text: "Home (Logged in)",
        href: "/home"
      }) }}
    </div>

    <div class="govuk-form-group">
      {{ govukButton({
        text: "Add a trainee",
        href: "/new-record/new"
      }) }}
    </div>

    <div class="govuk-form-group">
      {{ govukButton({
        text: "Trainee records list",
        href: "/records"
      }) }}
    </div>





  </div>

</div>

{% endblock %}
