{% extends "layout.html" %}

{% block content %}

    <h1 class="govuk-heading-l">{{serviceName}}</h1>
    <p class="govuk-body">Collect and manage trainee teacher registration data.</p>
    {{ govukButton({
      text: "Add a trainee",
      href: "./new-record/new",
      isStartButton: true
    }) }}

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-m"><a href="/records" class="govuk-link govuk-link--no-visited-state">Trainee records</a></h2>
        <p class="govuk-body">All the trainee teachers in your organisation.</p>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-m"><a href="/guidance" class="govuk-link govuk-link--no-visited-state">Guidance</a></h2>
        <p class="govuk-body">Service guidance for each route.</p>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-m"><a href="/data-requirements" class="govuk-link govuk-link--no-visited-state">Data requirements</a></h2>
        <p class="govuk-body">Route specific data requirements.</p>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-m"><a href="#" class="govuk-link govuk-link--no-visited-state">Notifications</a></h2>
        <p class="govuk-body">Notifications about your trainee teachers.</p>
      </div>

    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">Trainee status overview</h2>
    
    <div class="govuk-grid-row govuk-!-margin-bottom-6">

      <div class="govuk-grid-column-one-third">
        <div class="status-card status-card--draft">
          {% set draftRecordCount = data.records | filterDisabledTrainingRoutes | where("status", "Draft") | length %}
          <span class="status-card__count">{{draftRecordCount}}</span>
          Draft records
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="status-card status-card--pending-trn">
          {% set pendingTrnRecordCount = data.records | filterDisabledTrainingRoutes | where("status", "Pending TRN") | length %}
          <span class="status-card__count">{{pendingTrnRecordCount}}</span>
          Pending TRN
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="status-card status-card--trn-received">
          {% set trnReceivedRecordCount = data.records | filterDisabledTrainingRoutes | where("status", "TRN received") | length %}
          <span class="status-card__count">{{trnReceivedRecordCount}}</span>
          TRN receieved
        </div>
      </div>

    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-6">
        
      <div class="govuk-grid-column-one-third">
        <div class="status-card status-card--qts-awarded">
          {% set trnReceivedRecordCount = data.records | filterDisabledTrainingRoutes | where("status", "QTS awarded") | length %}
          <span class="status-card__count">{{trnReceivedRecordCount}}</span>
          QTS awarded
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="status-card status-card--deferred">
          {% set deferredRecordCount = data.records | filterDisabledTrainingRoutes | where("status", "Deferred") | length %}
          <span class="status-card__count">{{deferredRecordCount}}</span>
          Deferred
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="status-card status-card--withdrawn">
          {% set withdrawnRecordCount = data.records | filterDisabledTrainingRoutes | where("status", "Withdrawn") | length %}
          <span class="status-card__count">{{withdrawnRecordCount}}</span>
          Withdrawn
        </div>
      </div>

    </div>

  </div>

</div>

{% endblock %}