
{% extends "_templates/_record.html" %}

{% set backLink = '/records' %}
{% set backText = 'All records' %}
{% set pageHeading = record.personalDetails.shortName %}
{% set activeTab = 'trainee-details' %}

{% block tabContent %}
{% set referrer = recordPath %}

{% set canAmend = record.status | getAmendsAllowed %}

{% set hasCommencementDate = record.trainingDetails.traineeStarted | falsify %}
{% set placementCount = record.placement.items | length %}

{% set recordPath = "/record/" + record.id %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    {{referrer | log}}
    {{record | log}}

    <h2 class="govuk-heading-s">Trainee progress</h2>
    {% include "_includes/summary-cards/student-record.html" %}
    <h2 class="govuk-heading-s">Programme details</h2>
    {% include "_includes/summary-cards/programme-details.html" %}
    <h2 class="govuk-heading-s">Placement details</h2>
    {% include "_includes/summary-cards/placements/placement-details.html" %}

  </div>
<div>

{% endblock %}
