{% extends "_templates/_page.html" %}
{% set pageHeading = "Trainee teachers" %}


{% block content %}

<h1 class="govuk-heading-xl">{{pageHeading}}</h1>

<div class="applications-header">

  {{ govukButton({
    text: "Add a trainee",
    href: "./new-record/new"
  }) }}

  {# {{ govukSelect({
    id: "sort",
    name: "sort",
    label: {
      text: "Sort by"
    },
    items: [
      {
        value: "published",
        text: "Recently added"
      },
      {
        value: "updated",
        text: "Recently updated",
        selected: true
      }
    ]
  }) }} #}

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <div class="moj-filter-layout">
       
      <div class="moj-filter-layout__filter">
        {% include "_includes/filter-panel.njk" %}
      </div>

      <div class="moj-filter-layout__content">

        <div class="moj-action-bar">
          <div class="moj-action-bar__filter"></div>
        </div>
        <div>
          {% if filteredRecords.length %}

            <div class="app-application-cards">
              {% set sortedFilterRecords = filteredRecords | sort(attribute="submittedDate") | reverse %}

              {% set draftRecords = sortedFilterRecords | filterAttr("status", "Draft") %}

              {{data.filterStatus | log}}
             
              {% if (draftRecords | length) %}
                <div class="govuk-!-margin-bottom-8">
                  
                  <h2 class="govuk-heading-m">Draft records</h2>
                  {% for record in draftRecords %}
                    {% include "_includes/trainee-record-card.njk" %}
                  {% endfor %}
                </div>
              {% endif %}

              {% set nonDraftRecords = sortedFilterRecords | removeAttr("status", "Draft") %}
              {% if (nonDraftRecords | length) %} 
                <h2 class="govuk-heading-m">Submitted records</h2>
                {% for record in nonDraftRecords %}

                    {% include "_includes/trainee-record-card.njk" %}

                {% endfor %}
              {% endif %}
            </div>

          {% endif %}
        </div>

      </div>
    </div>

  </div>

</div>

{% endblock %}

{% block pageScripts %}
  <script>
    new MOJFrontend.FilterToggleButton({
    bigModeMediaQuery: '(min-width: 48.063em)',
    startHidden: false,
    toggleButton: {
      container: $('.moj-action-bar__filter'),
      showText: 'Show filter',
      hideText: 'Hide filter',
      classes: 'govuk-button--secondary govuk-!-margin-bottom-0'
    },
    closeButton: {
      container: $('.moj-filter__header-action'),
      text: 'Close'
    },
    filter: {
      container: $('.moj-filter')
    }
  });
  </script>
{% endblock %}
