
{% extends "_templates/_page.html" %}

{% set backLink = '/records' %}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    {% if record.trn %}
      <span class="govuk-caption-l">TRN: {{record.trn}}{{govukTag({
        text: record.status,
        classes: "govuk-!-margin-left-4 " +record.status | getStatusClass
      })}}
      </span>
    {% endif %}
    <h1 class="govuk-heading-l">{{record.personalDetails.givenName}} {{record.personalDetails.familyName}}</h1>
    <h2 class="govuk-heading-m">Candidate details</h2>

    {% include "_includes/summary-cards/personal-details.html" %}

    {% include "_includes/summary-cards/contact-details.html" %}

    {% include "_includes/summary-cards/diversity.html" %}

    <h2 class="govuk-heading-m">Education / qualifications</h2>

    <h2 class="govuk-heading-m">Assessment details</h2>


    {# {% include "_includes/summaryCards/contactDetails.njk" %} #}
  </div>

</div>

{% endblock %}
