{% extends "layout.html" %}
{% set bodyClasses = "start-page" %}
{% set hideNav = true %}

{% block pageTitle %}
  {{ pageHeading }} - GOV.UK
{% endblock %}

{% set pageHeading = 'Register trainee teachers' %}

{% block main %}
  <div class="govuk-width-container">
    {{ govukPhaseBanner({
      tag: {
        text: "prototype"
      },
      html: 'This is a prototype of a new service. Some parts of this prototype do not work yet. '
    }) }}
    {# this overrides the default phase banner from layout.html #}
    {% block beforeContent %}
    {% endblock %}
  </div>
  <div class="start-page-banner">

    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="start-page-banner__text start-page-banner__heading govuk-heading-xl">{{pageHeading}}</h1>
          <p class="start-page-banner__text start-page-banner__description govuk-body govuk-!-font-size-27">A service for Initial Teacher Training (ITT) providers to collect and manage trainee registration data.</p>
          <div class="start-page-banner__actions">
            {{ govukButton({
              text: "Get started",
              href: "/records",
              classes: "start-page-banner__button",
              isStartButton: true
            }) }}
            <p class="govuk-body start-page-banner__text">or
            <a class="govuk-link govuk-link--no-visited-state" href="/records">sign in</a>
            if you’ve used it before</p>
          </div>

        </div>
      </div>
    </div>

    </div>

  {# pulls in default gov uk template #}
  {{super()}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">Use this service to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>register trainee data for the census</li>
      <li>request a teacher reference number (TRN)</li>
      <li>recommend trainees for QTS or EYTS</li>
      <li>check and update your trainee data</li>
    </ul>

    <p class="govuk-body">If you are a Higher Education Institute (HEI), you must submit your data using the Register trainee teacher service. You do not submit it via the Higher Education Statistics Agency (HESA).</p>

    <p class="govuk-body">You can only register trainee teachers for the current academic year. If you need to register a trainee teacher within a different academic year, contact <a class="govuk-link" href="mailto:itt.datamanagement@education.gov.uk">itt.datamanagement@education.gov.uk</a>.</p>

    <h2 class="govuk-heading-m">Assessment Only (AO) route guidance</h2>

    <p class="govuk-body">To find out about AO and census timescales, you can <a href="guidance.html">view AO guidance</a>.</p>

    <h2 class="govuk-heading-m">Register trainee teachers data requirements</h2>

    <p class="govuk-body">We have reduced the amount of data we ask for. To help you collect and prepare your data, you can <a href="data-requirements.html">view route specific data requirements</a>.</p>

  </div>
</div>

{% endblock %}
