
{% extends "layout.html" %}
{% set bodyClasses = "start-page" %}

{% block main %}
  <div class="govuk-width-container">
    {{ govukPhaseBanner({
      tag: {
        text: "prototype"
      },
      html: 'This is a prototype of a new service. Some parts of this prototype do not work yet. '
    }) }}
    {# this overrides the default phase banner from layout.html #}
    {% block beforeContent %}
    {% endblock %}
  </div>
  <div class="start-page-banner">

    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="start-page-banner__text start-page-banner__heading govuk-heading-xl">Register trainee teachers</h1>
          <p class="start-page-banner__text start-page-banner__description govuk-body govuk-!-font-size-27">A service for collecting and maintaining trainee teacher registration data.</p>
          <div class="start-page-banner__actions">
            {{ govukButton({
              text: "Get started",
              href: "/records",
              classes: "start-page-banner__button",
              isStartButton: true
            }) }}
            <p class="govuk-body start-page-banner__text">or   
            <a class="govuk-link govuk-link--no-visited-state" href="/records">sign in</a> 
            if you’ve used it before</p>
          </div>

        </div>
      </div>
    </div>  

    </div>

  {# pulls in default gov uk template #}
  {{super()}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">Use this service to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>upload Assessment Only (AO) candidate data</li>
      <li>get a Teacher Reference Number (TRN) for AO candidates</li>
      <li>recommend candidates for Qualified Teacher Status (QTS)</li>
      <li>check and update your AO candidate datas</li>
    </ul>

    <p class="govuk-body">If you are a Higher Education Institute (HEI), you must submit your AO data using the Register trainee teacher service. You do not submit it via the Higher Education Statistics Agency (HESA).</p>
    
    <p class="govuk-body">You can only register trainee teachers for the current academic year. If you need to register a trainee teacher within a different academic year contact <a href="mailto:itt.datamanagement@education.gov.uk">itt.datamanagement@education.gov.uk</a>.</p>

  </div>
</div>

{% endblock %}
