{% extends "layout.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-panel govuk-panel--confirmation trainee-confirmation-panel">
          <div class="govuk-grid-row">
            <div class="trainee-confirmation-panel__check">
              &check;
            </div>
            <div class="trainee-confirmation-panel__content">
              <h1 class="govuk-panel__title">
                Successfully submitted
              </h1>
              <div class="govuk-panel__body">
                <span class="trainee-confirmation-panel__emphasis">You have submitted the trainee for TRN registration</span> - we will update their status when we receive the TRN
              </div>
            </div>
          </div>
        </div>
        <h2 class="govuk-heading-l">Next Steps</h2>
        {{ govukButton({
          text: "Create another record",
          classes: "confirmation-next-button",
          href: "/personal-details"
        }) }}
        <a class="govuk-link" href="/trainees">Back to trainee teacher list</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
