
{% extends "layout.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Training record for {{ data["first-names"] }} {{ data["last-name"] }}</h2>
        <p>
          You have completed all sections of the training record. Check
          that the information is correct before submitting for TRN registration.
        </p>

        {{ govukButton({
          text: "Submit for TRN registration",
          href: "/success"
        }) }}
      </div>

      <div class="govuk-grid-column-full"> 
        <div class="summary-panel">
          <div class="govuk-grid-row govuk-body summary-header">
            <h2 class="govuk-grid-column-two-thirds">Personal details</h2>
            <div class="link-and-tag govuk-grid-column-one-third">
              <a class="govuk-link" href="/personal-details">Update</a>
              <span class="govuk-tag">Completed</span>
            </div>
          </div>

          <table class="govuk-table summary-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">Trainee ID</th>
                <td class="govuk-table__cell govuk-!-width-one-half">{{ data["trainee-id"] }}{{ data["trainee-id"] | tick | safe }}</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">First names</th>
                <td class="govuk-table__cell">{{ data["first-names"] }}{{ data["first-names"] | tick | safe }}</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Last name</th>
                <td class="govuk-table__cell">{{ data["last-name"] }} {{ data["last-name"] | tick | safe }}</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Gender</th>
                <td class="govuk-table__cell">{{ data["gender"] }} {{ data["gender"] | tick | safe}}</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date of birth</th>
                <td class="govuk-table__cell">
                  {{ "dob" | dateStringFromData }} {{ "dob" | dateStringFromData | tick | safe }}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Nationality</th>
                <td class="govuk-table__cell">{{ data["nationality"] | title }} {{ data["nationality"] | tick | safe }}</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Disability</th>
                <td class="govuk-table__cell">{{ data["disability"] }} {{ data["disability"] | tick | safe }}</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Ethnicity</th>
                <td class="govuk-table__cell">{{ data["ethnicity"] }} {{ data["ethnicity"] | tick | safe }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <div class="summary-panel">
          <div class="govuk-grid-row govuk-body summary-header">
            <h2 class="govuk-grid-column-two-thirds">Contact details</h2>
            <div class="link-and-tag govuk-grid-column-one-third">
              <a class="govuk-link" href="/contact-details">Update</a>
              <span class="govuk-tag">Completed</span>
            </div>
          </div>

          <table class="govuk-table summary-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">Address</th>
                <td class="govuk-table__cell">
                  {{ [data["address-line-1"], data["address-town"]] | compact | join(", ") }}
                  {{ [data["address-line-1"], data["address-town"]] | compact | join | tick | safe }}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Postcode</th>
                <td class="govuk-table__cell">
                  {{ data["address-postcode"] }}
                  {{ data["address-postcode"] | tick | safe }}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Phone number</th>
                <td class="govuk-table__cell">
                  {{ data["phone-number"] }}
                  {{ data["phone-number"] | tick | safe }}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Email</th>
                <td class="govuk-table__cell">
                  {{ data["email"] }}
                  {{ data["email"] | tick | safe }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <div class="summary-panel">
          <div class="govuk-grid-row govuk-body summary-header">
            <h2 class="govuk-grid-column-two-thirds">Previous education</h2>
            <div class="link-and-tag govuk-grid-column-one-third">
              <a class="govuk-link" href="/previous-education">Update</a>
              <span class="govuk-tag">Completed</span>
            </div>
          </div>
          <table class="govuk-table summary-table">
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-half">1 A level subject and grade</th>
                <td class="govuk-table__cell govuk-!-width-one-half">
                  {{ [data["subject-one"], data["grade-one"]] | compact | join(" - ") | title }}
                  {{ [data["subject-one"], data["grade-one"]] | compact | join | tick | safe }}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">2 A level subject and grade</th>
                <td class="govuk-table__cell">
                  {{ [data["subject-two"], data["grade-two"]] | compact | join(" - ") | title }}
                  {{ [data["subject-two"], data["grade-two"]] | compact | join | tick | safe }}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">3 A level subject and grade</th>
                <td class="govuk-table__cell">
                  {{ [data["subject-three"], data["grade-three"]] | compact | join(" - ") | title }}
                  {{ [data["subject-three"], data["grade-three"]] | compact | join | tick | safe }}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Undergraduate degree</th>
                <td class="govuk-table__cell">
                  {{ data["degree-subject"] | title}}
                  {{ data["degree-subject"] | tick | safe }}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Class of undergraduate degree</th>
                <td class="govuk-table__cell">
                  {{ data["degree-class"] | title }}
                  {{ data["degree-class"] | tick | safe }}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Knowledge enhancement?</th>
                <td class="govuk-table__cell">
                  {{ data["ske"] }}
                  {{ data["ske"] | tick | safe }}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Previously gained QTS</th>
                <td class="govuk-table__cell">
                  {{ data["previous-qts"] | title }}
                  {{ data["previous-qts"] | tick | safe }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <div class="summary-panel">
          <div class="govuk-grid-row govuk-body summary-header">
            <h2 class="govuk-grid-column-two-thirds">Training details</h2>
            <div class="link-and-tag govuk-grid-column-one-third">
              <a class="govuk-link" href="/training-details">Update</a>
              <span class="govuk-tag">Completed</span>
            </div>
          </div>
          <table class="govuk-table summary-table">
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Trainee start date</th>
                <td class="govuk-table__cell">
                  {{ "start-date" | dateStringFromData }}
                  {{ "start-date" | dateStringFromData | tick | safe }}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Study mode</th>
                <td class="govuk-table__cell">
                  {{ data["fulltime-parttime"] | title }}
                  {{ data["fulltime-parttime"] | tick | safe }}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Teaching scholars</th>
                <td class="govuk-table__cell">
                  {{ data["teaching-scholars"] | title }}
                  {{ data["teaching-scholars"] | tick | safe }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <div class="summary-panel">
          <div class="govuk-grid-row govuk-body summary-header">
            <h2 class="govuk-grid-column-two-thirds">Course details</h2>
            <div class="link-and-tag govuk-grid-column-one-third">
              <a class="govuk-link" href="/course-details">Update</a>
              <span class="govuk-tag">Completed</span>
            </div>
          </div>
          <table class="govuk-table summary-table">
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-table__header govuk-!-width-one-half">Course title</th>
                <td class="govuk-table__cell">
                  {{ data["course-title"] }}
                  {{ data["course-title"] | tick | safe }}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Course phase</th>
                <td class="govuk-table__cell">
                  {{ data["course-phase"] }}
                  {{ data["course-phase"] | tick | safe }}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Programme start date</th>
                <td class="govuk-table__cell">
                  {{ "programme-start-date" | dateStringFromData }}
                  {{ "programme-start-date" | dateStringFromData | tick | safe }}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Programme length</th>
                <td class="govuk-table__cell">
                  {{ data["programme-length"] | title }}
                  {{ data["programme-length"] | tick | safe }}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Prgramme end date</th>
                <td class="govuk-table__cell">
                  {{ "programme-end-date" | dateStringFromData }}
                  {{ "programme-end-date" | dateStringFromData | tick | safe }}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Allocation subject</th>
                <td class="govuk-table__cell">
                  {{ data["allocation-subject"] | title }}
                  {{ data["allocation-subject"] | tick | safe }}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">ITT subject</th>
                <td class="govuk-table__cell">
                  {{ data["itt-subject"] | title }}
                  {{ data["itt-subject"] | tick | safe }}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Employing school</th>
                <td class="govuk-table__cell">
                  {{ data["employing-school"] | title }}
                  {{ data["employing-school"] | tick | safe }}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Placement school</th>
                <td class="govuk-table__cell">
                  {{ data["placement-school"] | title}}
                  {{ data["placement-school"] | tick | safe }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        {{ govukButton({
          text: "Submit for TRN registration",
          classes: "govuk-!-margin-right-1",
          href: "/success"
        }) }}
      </div>
    </div>
  </div>
</div>

{% endblock %}
