
{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l register-main-heading">
      {{ data["first-names"] }} {{ data["last-name"] }}
      <span class="govuk-tag govuk-tag--dark-grey">Draft record</span>
    </h1>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="/personal-details">
          Personal details
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="/contact-details">
          Contact details
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="/previous-education">
          Previous education
        </a>
      </li>
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="/training-details">
          Training details
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="/course-details">
          Course details
        </a>
      </li>
    </ul>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-tabs__panel">
        <div class="govuk-grid-column-two-thirds">
          <form action="/course-details" method="post">
            <h2 class="govuk-heading-l">Add training details</h2>
            {{ govukInput({
              label: {
                text: "Trainee ID",
                classes: "govuk-label--s"
              },
              id: "trainee-id",
              name: "trainee-id",
              value: data["trainee-id"],
              classes: "govuk-input--width-10"
            }) }} 
            
            {{ govukDateInput({
              id: "start-date",
              namePrefix: "start-date",
              fieldset: {
                legend: {
                  text: "Start date",
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
                  {
                    name: "day",
                    classes: "govuk-input--width-2",
                    value: data["start-date-day"]
                  },
                  {
                    name: "month",
                    classes: "govuk-input--width-2",
                    value: data["start-date-month"]
                  },
                  {
                    name: "year",
                    classes: "govuk-input--width-4",
                    value: data["start-date-year"]
                  }
                ]
            }) }}

            <p>
              <a class="govuk-link" href="#">Help with start date</a>
            </p>
            

            {{ govukRadios({
              idPrefix: "fulltime-parttime", 
              name: "fulltime-parttime",
              fieldset: {
                legend: {
                  text: "Full time/Part time",
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
                {
                  value: "full-time",
                  text: "Full time",
                  checked: checked("fulltime-parttime", "full-time")
                },
                {
                  value: "part-time",
                  text: "Part time",
                  checked: checked("fulltime-parttime", "part-time")
                }
              ]
            }) }}
            
            {{ govukRadios({
              idPrefix: "teaching-scholars", 
              name: "teaching-scholars",
              fieldset: {
                legend: {
                  text: "Teaching scholars",
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
                {
                  value: "no",
                  text: "No",
                  checked: checked("teaching-scholars", "no")
                },
                {
                  value: "yes",
                  text: "Yes",
                  checked: checked("teaching-scholars", "yes")
                }
              ]
            }) }}
            
            {{ govukButton({
              text: "Add training details to training record",
              classes: "govuk-button--primary govuk-!-margin-right-1"
            }) }}
            <a href="/summary" class="govuk-link summary-link">View record summary</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
