{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full"> <h2 class="govuk-heading-l">Trainee teacher data list</h2> {{ govukButton({ text: "Add trainees",
      href: "/personal-details.html",
      isStartButton: true
    }) }}

    <p>You have <span class="trainee-count">1</span> registered trainee</p>

    <div class="govuk-grid-column-full filter-panel">
      <div class="govuk-grid-row"> <div class="govuk-form-group govuk-grid-column-full">
          <label class="govuk-label govuk-label--s" for="search-q">
            Search
          </label>
          <input class="govuk-input search-input" id="search-q" name="search-q" type="text">
          <button class="govuk-button search-button">Search</button>
        </div>

      </div>
      <div class="govuk-grid-row">
        <div class="govuk-form-group govuk-grid-column-one-quarter">
          <label class="govuk-label govuk-label--s" for="course-filter">
            Course
          </label>
          <select class="govuk-select govuk-!-width-full" id="course-filter" name="course-filter">
            <option value="course-all">All</option>
            <option value="course-one">Course one</option>
            <option value="course-two">Course two</option>
            <option value="course-three">Course three</option>
            <option value="course-four">Course four</option>
          </select>
        </div>

        <div class="govuk-form-group govuk-grid-column-one-quarter">
          <label class="govuk-label govuk-label--s" for="route-filter">
            Route
          </label>
          <select class="govuk-select govuk-!-width-full" id="route-filter" name="route-filter">
            <option value="route-all">All</option>
            <option value="route-one">Route one</option>
            <option value="route-two">Route two</option>
            <option value="route-three">Route three</option>
            <option value="route-four">Route four</option>
          </select>
        </div>

        <div class="govuk-form-group govuk-grid-column-one-quarter">
          <label class="govuk-label govuk-label--s" for="status-filter">
            Status
          </label>
          <select class="govuk-select govuk-!-width-full" id="status-filter" name="status-filter">
            <option value="status-all">All</option>
            <option value="status-one">Status one</option>
            <option value="status-two">Status two</option>
            <option value="status-three">Status three</option>
            <option value="status-four">Status four</option>
          </select>
        </div>

        <div class="govuk-form-group govuk-grid-column-one-quarter">
          <label class="govuk-label govuk-label--s" for="entered-via-filter">
            Status
          </label>
          <select class="govuk-select govuk-!-width-full" id="entered-via-filter" name="entered-via-filter">
            <option value="entered-via-all">All</option>
            <option value="entered-via-one">Entered one</option>
            <option value="entered-via-two">Entered two</option>
            <option value="entered-via-three">Entered three</option>
            <option value="entered-via-four">Entered four</option>
          </select>
        </div>
      </div>
      <p class="govuk-grid-column-one-half">
        <a href="#" class="filter-panel__clear-link">Clear filters</a>
      </p>
      <p class="govuk-grid-column-one-half filter-panel__download-data">
        <a href="#" class="filter-panel__clear-link govuk-button">Download data</a>
      </p>
    </div>

    <table class="govuk-table trainees-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell trainees-table__name-cell">
            <a href="/personal-details">{{ data["first-names"] }} {{ data["last-name"] }}</a>
          </td>
          <td class="govuk-table__cell">
            <span class="trainees-table__dob">DOB: {{ "dob" | dateStringFromData }}</span><br/>
            ID: {{ data["trainee-id"] }}
          </td>
          <td class="govuk-table__cell">
            <span class="trainees-table__course-type">Assessment Only</span><br/>
            {{ data["course-title"] }}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-tag">Submitted</span><br/>
            TRN: -
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
