{% set customPlacementsNotRequiredReason %}
  {{ govukInput({
    label: {
        text: "Enter the reason why",
        classes: "govuk-label govuk-label--s"
    },
    classes: "govuk-!-width-two-thirds"
  } | decorateAttributes(record, "record.placement.placementsNotRequiredReason")) }}
{% endset %}

{{ govukRadios({
  fieldset: {
    legend: {
      text: pageHeading,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      text: "Yes"
    },
    {
      value: "Not yet",
      text: "No, I’ll add them later"
    }
  ]
} | decorateAttributes(record, "record.placement.hasPlacements"))}}

{{ govukButton({
  text: "Continue"
}) }}
