{# <p class="govuk-body">You can also add placeemnt detials after requesting a TRN for this tranee.</p> #}

{{ govukRadios({
  fieldset: {
    legend: {
      text: pageHeading,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "Not yet, I will add placement details later"
    }
  ]
} | decorateAttributes(record, "record.placmentsCheck"))}}

{{ govukButton({
  text: "Continue"
}) }}
