{# {% set records = data.records | where("route", "Provider-led") | where("status", "TRN received") | limitTo(100) | sortRecordsByLastName %} #}

{% set checkboxItems = [] %}

{% for trainee in filteredRecords  %}

  {% set checkboxLabelHtml %}
    {{trainee.personalDetails.fullName}}
  {% endset %}

  {% set traineeHintHtml %}
    <span class="govuk-hint">{{trainee.programmeDetails.subject}}, {{trainee.route | lower}}</span>
    {{govukTag({
      text: trainee.status,
      classes: trainee.status | getStatusClass
    })}}
  {% endset %}

  {% set checkboxItems = checkboxItems | push({
    value: trainee.id,
    _text: trainee.personalDetails.fullName,
    checked: checked(selectedTrainees, trainee.id),
    html: checkboxLabelHtml,
    hint: {
      html: traineeHintHtml
    }
  }) %}

{% endfor %}




{% set draftIncompleteMessage %}

  {% set incompleteDraftTextHtml %}
    There {{'are' if incompleteDraftCount != 1 else 'is'}} {{incompleteDraftCount}} more draft {{'records' if incompleteDraftCount != 1 else 'record'}} that {{'fit' if incompleteDraftCount != 1 else 'fits'}} your search criteria. Complete the {{'drafts' if incompleteDraftCount != 1 else 'draft'}} to add the {{'trainees' if incompleteDraftCount != 1 else 'trainee'}} to your list.
  {% endset %}
  {{ govukInsetText({
    text: incompleteDraftTextHtml
  }) }}
{% endset %}

<h1 class="govuk-heading-l">{{pageHeading}}</h1>



{% if filteredRecords | length > 0 %}

  {% if data.bulk.action == 'Recommend a group of trainees for QTS' %}
    {{ govukInsetText({
      text: "Select trainees that met the QTS standards on the same day. You can submit as many groups as you need."
    }) }}
  {% endif %}

  {{ govukCheckboxes({
    fieldset: {
      legend: {
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: ""
    },
    items: checkboxItems
  } | decorateAttributes(data, "data.bulk.selectedTrainees")) }}

  {% if incompleteDraftCount %}
    {{ draftIncompleteMessage | safe }}
  {% endif %}

  {{ govukButton({
    text: "Continue"
  }) }}

{% else %}

  {{ govukButton({
    text: "Return to records list",
    href: "/records"
  }) }}


{% endif %}
