{# {% set records = data.records | where("route", "Provider-led") | where("status", "TRN received") | limitTo(100) | sortRecordsByLastName %} #}

{% set checkboxItems = [] %}

{% for trainee in filteredRecords  %}

  {% set checkboxLabelHtml %}
    {{trainee.personalDetails.fullName}} 
  {% endset %}

  {% set traineeHintHtml %}
    <span class="govuk-hint">{{trainee.programmeDetails.subject}}, {{trainee.route | lower}}</span>
    {{govukTag({
      text: trainee.status,
      classes: trainee.status | getStatusClass
    })}}
  {% endset %}

  {% set checkboxItems = checkboxItems | push({
    value: trainee.id,
    _text: trainee.personalDetails.fullName,
    checked: checked(selectedTrainees, trainee.id),
    html: checkboxLabelHtml,
    hint: {
      html: traineeHintHtml
    }
  }) %}
  
{% endfor %}




{% set draftIncompleteMessage %}

  {% set incompleteDraftTextHtml %}
    {{incompleteDraftCount}} draft {{'records are' if incompleteDraftCount != 1 else 'record is'}} not shown because {{'they are' if incompleteDraftCount != 1 else 'it is'}} not marked as complete.
  {% endset %}
  {{ govukInsetText({
    text: incompleteDraftTextHtml
  }) }}
{% endset %}

<h1 class="govuk-heading-l">{{pageHeading}}</h1>

{% if incompleteDraftCount %}
  {{ draftIncompleteMessage | safe }}
{% endif %}

{% if filteredRecords | length > 0 %}

  {% if data.bulk.action == 'Recommend for QTS' %}
    {{ govukInsetText({
      text: "All trainees will be marked as having met the standards on the same day. If your trainees met the standards on different days, select your trainees in batches."
    }) }}
  {% endif %}

  {{ govukCheckboxes({
    fieldset: {
      legend: {
        text: "Your filtered trainees",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: ""
    },
    items: checkboxItems
  } | decorateAttributes(data, "data.bulk.selectedTrainees")) }}

  {{ govukButton({
    text: "Continue"
  }) }}

{% else %}
 
  {{ govukButton({
    text: "Return to records list",
    href: "/records"
  }) }}


{% endif %}
